



{% extends 'admin_templates/base_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{title}}
{% endblock title %}
  

{% block main_content %}

<section class="content">
  <div class="container-fluid">

  

   {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-md-12">
   
        <div class="card card-info">
          <div class="card-header" style="background:#435EBE;">
            <h3 class="card-title  text-white">TEACHER HOME</h3>
          </div>
        
         <br><br>
          <!-- /.card-header -->

       
          <div class="row ml-4">
         
            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/attendance.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Attendance  </strong>
                    </span>
              </a>

              </div>
            </div>

            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/routine.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Routines  </strong>
                    </span>
              </a>

              </div>
            </div>
            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/assignment2.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Assignments  </strong>
                    </span>
              </a>

              </div>
            </div>
            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/enotes2.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>E-notes  </strong>
                    </span>
              </a>

              </div>
            </div>

            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/exam.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Grades  </strong>
                    </span>
              </a>

              </div>
            </div>

            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/events.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Events  </strong>
                    </span>
              </a>

              </div>
            </div>

            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/gallery.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Gallery  </strong>
                    </span>
              </a>

              </div>
            </div>


            <div class="col-md-3">
              <div class="container">
              <a href="">
                
                <img src="{% static 'image/library.png' %}" alt="" style="" class="img-fluid img-rectangle" />

                 
                    <span >
                      <strong>Library  </strong>
                    </span>
              </a>

              </div>
            </div>


        </div>

      </div>
    

    </div>
  </div>
  <footer class="bottom-nav">
    <nav class="bottom-nav__nav">
      <ul class="bottom-nav__list">
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fa fa-home"></i>
            <span class="bottom-nav__text">Home</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fas fa-tachometer-alt"></i>
            <span class="bottom-nav__text">Dashboard</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fa fa-bell"></i>
            <span class="bottom-nav__text">Notice</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fas fa-ellipsis-h"></i>

            <span class="bottom-nav__text">More</span>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
  
</section>

<style>

	.col-md-3{
		border-radius: 2rem;
	    border: none;
	    -webkit-box-shadow: 0 0 15px 0 #ddd;
	    box-shadow: 0 0 15px 0 #ddd;
	    text-align: center;
	    background: #fff;
	 	 padding:1.5rem 0rem;
    margin-bottom:1rem;
    margin-right:2rem;
	}
  .col-md-3 a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin-right: 9rem;
  }
  .col-md-3 img{
    width:35px;height:35px;margin-right:1rem;

  }

.container {
  position: relative;
  /* 16:9 aspect ratio */
}
    .col-md-3 .container img {
      position: absolute;
      margin-left:1rem;
      top: 0;
      left: 0;
      width:35px;height:35px;
    }
    
    .col-md-3 .container span {
      position: absolute;
      bottom: 0;
      text-transform: uppercase;
      top:3px;
      left: 0;
      width: 70%;
    }
  

    {% comment %} Css for bottom navbar like app {% endcomment %}
    .bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f2f2f2;
      box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
      z-index: 999;
    }
    
    .bottom-nav__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
    }
    
    .bottom-nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    
    .bottom-nav__item {
      width: 33.33%;
      text-align: center;
    }
    
    .bottom-nav__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #333;
      text-decoration: none;
    }
    
    .bottom-nav__text {
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
    
    .bottom-nav__link:hover {
      color: #007bff;
    }
    
    @media (max-width: 575px) {
      .bottom-nav__nav {
        flex-direction: column;
        height: auto;
      }
      
      .bottom-nav__item {
        width: 100%;
        margin: 0.2rem 0;
      }
    }
    .bottom-nav__link i{
      color:gray;
    }
</style>

{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}
