{% extends 'admin_templates/base_admin.html' %}

{% block title %}
  {{title}}
{% endblock title %}
  
{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->
  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          
          {% include 'override_table/header.html' with card_title='Manage Transport' %}
         
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            
            {% url 'transport:add_transport' as button_url %}

            {% include 'override_table/header_button.html' with button_title='transport' button_url=button_url %}
            <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Route Name</th>
                  <th>Number of Vehicle</th>
                  <th>Route Fare</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for transport in transports %}
                <tr>
                  <td>{{ transport.id }}</td>
                  <td>{{ transport.route_name }}</td>
                  <td>{{ transport.no_of_vehicle }}</td>
                  <td>{{ transport.route_fare }}</td>
                  <td>{{ transport.description }}</td>
                  
               
                  <td>
                    <a href="{% url 'transport:edit_transport' transport.id %}" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>
                    <a href="{% url 'transport:delete_transport' transport.id %}" class="btn btn-xs btn-danger"><i class="fas fa-xs fa-trash-alt"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}