{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Inventory {% endblock %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-header" style="background-color: #743DB8;color:white;" >
                    <span>Inventory</span>
                </div>

                <div class="card-body table-responsive">
            
                    <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover text-nowrap dataTable no-footer">
                    <thead>
                        <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Assignment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item, number in zipped %}
                            <tr>
                                    <td></td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.category}}</td>
                                    <td><a href=" {% url 'inventory:assignment_list' item.pk%}">Details </a></td>
                            </tr>
                            
                        {% endfor %}
                        {% include 'enquiry/mail_modal.html'%}
                    </tbody>
                    </table>
                </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
  </div>

  
</section>
<!-- /.content -->

{% endblock main_content %}

