


{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "includes/messages.html" %}


    <div class="row">
      <div class="col-md-4">
        {% include "academic/subjects/add_subject.html" %}
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="background-color: #743DB8;color:white;">
            <span>Manage Subject</span>
            <!-- <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ search_form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form> -->
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">

            <a href="{% url 'academic:subject_log' %}" class="btn btn-xs float-right mr-2 text-white"
              style="background-color: #743DB8;">
             
            </a>

            <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Subject Name</th>
                  <th>Subject Code</th>
                  <th>Class</th>
                  <th>Group</th>
                  <th>Facilitator</th>
                
                  <!-- <th>Course Name</th> -->
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- -------------------------------------------------------------------A-level subjects------------------------------------ -->

{% include "academic/subjects/includes/a_level_subjects.html" %}
<!-- -------------------------------------------------------------------Bachelor subjects------------------------------------ -->

{% include "academic/subjects/includes/bachelor_subjects.html" %}
<!-- ------------------------------------------------------------------Master subjects------------------------------------ -->
{% include "academic/subjects/includes/master_subjects.html" %}
              </tbody>
            </table>
          </div>



        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>


  </div>
</section>
<!-- /.content -->



{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}