
<!-- Filter Attendance Form by Month -->

{% load crispy_forms_tags %}



<form  method="POST">
  <div class="input-group">
 {% csrf_token %}

 <input type="hidden" name = "teacher" value="{{ teacher.id }}">


    {{ attendance_form|crispy }}

    <div class="input-group-btn mt-3 ">
      <button type="submit" class="btn  btn-info  mt-3 ml-2" name = "attendance_submit"
       id="take_attendance"    style="background-color: #743DB8;color:white;"><strong>Filter Attendance</strong></button>

    </div>
  </div>
</form>

