<!--Show  attendance details of particular staff -->

<!--Show  attendance details of particular students -->

{% if attendance_reports %}

<table id = "attendanceTable" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap">
  <thead>
    <tr>
      <th><span class="badge badge-success">Total Present : {{total_present}} days </span></th>
      <th></th>
      <th></th>

      <th class="pull-right"><span class="badge badge-danger">Total Absent : {{total_absent}} days</span> </th>
    </tr>
  </thead>
  
  <thead>
    <tr>
      
      <th>#</th>
      <th>Name</th>
      
      <th>Date</th>
      <th>Status</th>

    </tr>
  </thead>
  
  <tbody>

    {% for attendance_report in attendance_reports %}

    <tr class="tbody">

      {% if attendance_report.status == 'Present' %}

      <td>{{ forloop.counter }}</td>
      
      <td> {{teacher.staff_user.full_name}}</td>

      <td> {{ attendance_report.attendance.attendance_date }}</td>
      <td> <span class="badge badge-success">Present</span></td>

      {% elif attendance_report.status == 'Absent(Informed)' %}

      <td>{{ forloop.counter }}</td>
      <td> {{teacher.staff_user.full_name}}</td>
      
      <td> {{ attendance_report.attendance.attendance_date }}</td>
      <td> <span class="badge badge-danger">{{attendance_report.status}}</span></td>

      {% elif attendance_report.status == 'Absent(Not Informed)' %}
      <td>{{ forloop.counter }}</td>
      <td> {{teacher.staff_user.full_name}}</td>

      <td> {{ attendance_report.attendance.attendance_date }}</td>

      <td> <span class="badge badge-danger">{{attendance_report.status}}</span></td>

      {% elif attendance_report.status == 'Late' %}
      <td>{{ forloop.counter }}</td>
      <td> {{teacher.staff_user.full_name}}</td>

      <td> {{ attendance_report.attendance.attendance_date }}</td>

      <td> <span class="badge badge-warning">{{attendance_report.status}}</span></td>

      {% elif attendance_report.status == 'Excused' %}
      <td>{{ forloop.counter }}</td>
      <td> {{teacher.staff_user.full_name}}</td>

      <td> {{ attendance_report.attendance.attendance_date }}</td>

      <td> <span class="badge badge-primary">{{attendance_report.status}}</span></td>
      {% endif %}


    </tr>
    {% endfor %}

  </tbody>

</table>


{% elif attendance_reports == null %}


<span class="alert alert-default-warning  d-flex"> Please, Filter To See Attendance Detail For :   <strong>{{student.student_user.full_name}}</strong>. </span>


{% else %}

<span class="alert alert-default-danger d-flex "> No Attendance Details Found ! Please Filter With Appropriate Subject and Date. </span>


{% endif %}
