
{% load static %}
{% load auth_extras %}
{% load crispy_forms_tags %}
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->

  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          
          <div class="card-header">
            <div class="d-flex bd-highlight">
              <!-- <div class="p-2 flex-fill bd-highlight"><strong>E-Notes</strong></div> -->
              <div class="p-2 flex-fill bd-highlight">
                <form class="float-right" role="search"  method="GET" style="height: 40px;margin:auto;position:relative;margin-bottom:2rem;">
                  <div class="input-group">
                 
              
                    {{ enote_search_form|crispy }} 
                
                    <div class="input-group-btn ">
                      <button type="submit" class="btn btn-primary" style="margin-top:2rem;">SEARCH <i class="fas fa-search"></i></button>
        
                    </div>
                  </div>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                       
            <!-- {% if  request.user|has_group:'Admin' or request.user.is_superuser or request.user|has_group:'Teacher'   %}   
            {% url 'academic:add_enote' as button_url %}
              {% include 'override_table/header_button.html' with button_title='enote' button_url=button_url %}

         



           
          {% endif %} -->
              </div>
            </div>

     

   

          </div>
        
         
          <!-- /.card-header -->
          <div class="card-body table-responsive ">
      
          {% for enote in search_enotes %}

          {% include "academic/enotes/delete.html" %}


          <div class="row">
            <div class="col-md-0 mt-2 mb-1">
              <span>
          
          
                {% if enote.file %}
                <a href="{{ enote.file.url }}">
                  <img src="{% static 'image/enotes.png' %}" alt="" style="width:70px;height:70px;" class="img-rectangle" />
          
                </a>
                {% else %}
          
                <a href="">
                  <img src="{% static 'image/enote.png' %}" alt="" style="width:70px;height:70px;" class="img-rectangle" />
          
                </a>
                {% endif %}
          
          
              </span>
          
            </div>
            <div class="col-md-10">
          
          
              <div class="card" style="border-radius:10px;">
          
                <div class="card-body ">
          
          
                  <div class="d-flex justify-content-between">
          
                    <div>
                      {% if enote.file %}
                      <a href="{{ enote.file.url }}" class="text-capitalize">
                        <strong> {{ enote.title }}</strong>
          
                      </a>
                      {% else %}
                      <a href="" class="text-capitalize">
                        <strong> {{ enote.title }}</strong>
          
                      </a>
                      {% endif %}
                    </div>
          
          
                    <div>
                     <strong>Category</strong> : <span class="badge badge-primary">
                       {{enote.note_category}}
                      </span>
                    </div>
          
                  </div>
                  <div class="d-flex justify-content-between">

                    
                    {% if enote.section %}
                    <div>
                      <strong> {{ enote.subject }}</strong>, {{ enote.section }} ,
                    
          
                    </div>
                    {% else %}
                    <div>
                      <strong> {{ enote.subject }}</strong>, {{ enote.semester }} ,
                    
          
                    </div>
                      
                    {% endif %}
                      
                
          
                  
                    <div>
                      <span class="text-sm">
                      <strong>Uploaded on:</strong> 
                        {{enote.created_at}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          
            </div>
          

            
            {% if request.user.staff or request.user.is_superuser %}
            <div class="col-md-0 mt-4" >
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="{% url 'academic:edit_enote' enote.pk %}">Edit</a>
                  <button class="dropdown-item" data-target='#deleteenote-{{ enote.pk }}'
                    data-toggle="modal">Delete
                  </button>
                </div>
              </div>
              <div class="d-flex flex-column mt-1">
                
          
              </div>
            </div>
              
            {% endif %}
              
          </div>
          
       
             {% empty %}
            
             <h3> No E-Notes Found!</h3>
          {% endfor %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>