


{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% block title %}
  {{title}}
{% endblock title %}

{% block content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

 
    <div class="row">
      <div class="col-md-4">
        {% include "academic/classes/add_class.html" %}
      </div>

      <div class="col-md-8">
        <div class="card">
         
          <div class="card-header" style="background-color: #743DB8;color:white;" >
            

            <span>{{title}}</span>

            <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ class_search_form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form>
          

          </div>
        
        <!-- /.card-header -->
        <div class="card-body table-responsive">

         
         
      <table id="dataTable"
        class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Course</th>
            {% comment %} <th>Year</th> {% endcomment %}
         

            <!-- <th>Facilitator</th> -->
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>


<!-- -------------------------------------------------------------------A-level classes------------------------------------ -->

          {% comment %} {% include "academic/classes/includes/a_level_classes.html" %} {% endcomment %}

          {% for semester in classes %}{% include 'academic/classes/delete.html' %}
            <tr>
              <td></td>
              <td>{{ forloop.counter }}</td>
                <td>{{ semester.name }}</td>
              <td>{{ semester.description }}</td>
              <!-- <td>
                {{ semester.get_teachers }}
              </td> -->

              <td>
                <a href="{% url 'academic:edit_class' semester.id %}" class="btn btn-xs btn-success"><i
                    class="fas fa-xs fa-edit"></i></a>

                    {% comment %} <button  class="btn btn-danger btn-xs"  data-target='#deleteClass-{{ semester.id }}' data-toggle="modal"><i
                      class="fas fa-sm fa-trash-alt"></i></button>
                 {% endcomment %}
              </td>
            </tr>
        {% endfor %}
     
        </tbody>
      </table>
    </div>
        <!-- /.card-body -->
      </div>
        <!-- /.card -->
      </div>


    </div>
</section>
<!-- /.content -->


<style>
  .form-check, .form-check-input{
   display:inline-block;
   }
   .form-check{
    margin-left:1.5rem;
  }
 </style>
{% endblock content %}

{% block custom_js %}
{% endblock custom_js %}