{% extends 'admin_templates/base_admin.html' %}
{% load scheduletags i18n %}
{% load static %}
{% load auth_extras %}
<!--for user group check-->

{% block title %}
Dashboard

{% endblock title %}

{% block main_content %}


<div class="card mx-4">
  <div class="card-body" style="background-color: #743DB8;color:white;">

    
    {% if request.user|has_group:'Teacher' %}
    <h3 style="text-align: center;"><strong>Teacher Portal</strong> </h3>
    {% endif %}
      
        
    {% if request.user|has_group:'Student' %}
    <h3 style="text-align: center;"><strong>Student Portal</strong> </h3>
    {% endif %}
    {% if request.user|has_group:'Parent' %}
    <h3 style="text-align: center;"><strong>Parent Portal</strong> </h3>
    {% endif %}
    <!-- {% if request.user.is_superuser %}
    <h3 style="text-align: center;"><strong>SuperAdmin Portal</strong> </h3>
      
    {% endif %} -->
      

  </div>       
</div>


{% if request.user.is_superuser and not request.user|has_group:'A-Level' and not request.user|has_group:'Bachelor' and not request.user|has_group:'Master'  %}



{% include "main_home.html" %}


  
{% endif %}


<!---------------------------------------------Admin dashboard start----------------------------------------------------------------->
{% if request.user.is_superuser %}

<script
type="text/javascript"
src="{% static 'plugins/highcharts/highcharts.js' %}"
></script>
<script
type="text/javascript"
src="{% static 'plugins/highcharts/modules/exporting.js' %}"
></script>
<script
type="text/javascript"
src="{% static 'plugins/highcharts/modules/export-data.js' %}"
></script>
<script
type="text/javascript"
src="{% static 'plugins/highcharts/modules/accessibility.js' %}"
></script>



<!---------------------------------------------Admin dashboard end----------------------------------------------------------------->

<div class="row">
  <div class="col-md-6">

    <!---------------------------------------------Student dashboard start----------------------------------------------------------------->

    {% elif request.user|has_group:'Student' %}

    {% include "includes/include_admin/include_dashboard/student_dashboard.html" %}
    {% comment %} {% include "includes/calendar.html" %} {% endcomment %}
    {% include "includes/include_admin/notice.html" %}
    {% include "includes/calendar.html" %}

    <!---------------------------------------------Student dashboard end----------------------------------------------------------------->


    <!---------------------------------------------parent dashboard start----------------------------------------------------------------->

    {% elif request.user|has_group:'Parent' %}

    {% include "includes/include_admin/include_dashboard/parent_dashboard.html" %}

    {% include "includes/include_admin/notice.html" %}

    <!---------------------------------------------parent dashboard end----------------------------------------------------------------->


    <!---------------------------------------------Teacher dashboard start----------------------------------------------------------------->

    {% elif request.user|has_group:'Teacher' %}

    {% include "includes/include_admin/include_dashboard/teacher_dashboard.html" %}
    {% include "includes/calendar.html" %}
    
 

    <!---------------------------------------------Teacher dashboard end----------------------------------------------------------------->

    {% endif %}




    {% endblock %}



    {% block custom_js %}
  
    {% include "fullcalendar_script.html" %}

    <script type="text/javascript">
      $(window).on('load', function () {
        $('#noticeModal').modal('show');
      });
    </script>

    {% endblock custom_js %}


