{% if request.user.adminuser.course_category == master_course_category %}

{% for semester in masters_semesters %}{% include 'academic/classes/delete.html' %}
<tr>
  <td></td>
  <td>{{ forloop.counter }}</td>
  <td>{{semester.master_semester}}</td>
     <td>{{ semester.name }}</td>
     <td>{{ semester.description }}</td>
  <!-- <td>
    {{ semester.get_teachers }}
  </td> -->

  <td>
    <a href="{% url 'admin_app:edit_class' semester.id %}" class="btn btn-xs btn-success"><i
        class="fas fa-xs fa-edit"></i></a>

        <button  class="btn btn-danger btn-xs"  data-target='#deleteClass-{{ semester.id }}' data-toggle="modal"><i
          class="fas fa-sm fa-trash-alt"></i></button>
    
  </td>
</tr>
{% endfor %}
{% endif %}