{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}

{% load static %}


  
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Edit Template</h3>
          </div>
          <form role="form"  method="post" enctype="multipart/form-data"  >
            {% csrf_token %}
        
          <div class="card-body">
            {{ form.media }}<!--This is for richtexteditor-->
           {% crispy form %}
        
          </div>
          <!-- /.card-body -->
       
        </form>



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}


