{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}


{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

 
    <div class="row">
    

      <div class="col-md-12">
        <div class="card card-info">
           
            {% include 'override_table/header.html' with card_title=title%}
          <!-- /.card-header -->
          <div class="card-body table-responsive ">

            {% url 'certificate:add_certificate_template' as button_url %}

            {% include 'override_table/header_button.html' with button_title='certificate' button_url=button_url %}
            <a href="{% url 'administrator:certificate_log' %}" class="btn btn-xs float-right mr-2 text-white" style="background-color: #743DB8;"  >
              <span><i class="fas fa-sm fa-history"></i> <strong>Log History</strong></span>
          </a>
            <table id="dataTable"
              class="table table-sm table-striped table-bordered table-hover dataTable no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Student Name</th>
                  <th>Student Id</th>
                  <th> Certificate No.</th>
                  <th>Character Certificate</th>
                  
                 
                
                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
           
                {% for certificate in certificate_templates %}
                <tr>
                  <td></td>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ certificate.student.student_user }}</td>
                  <td>{{ certificate.student.stu_id }}</td>
                  <td>{{ certificate.certificate_number }}</td>
                  <td>     <a href="{% url 'certificate:print_character_certificate' certificate.id certificate.student_id %}" class="btn btn-xs btn-success"><i class = "fas fa-print"></i> Print</a></td>
                  </td>
                 
              
              
                  <td>
                 
                    <a href="{% url 'certificate:edit_certificate_template' certificate.id %}" class="btn btn-success btn-xs" data-placement="top"
                      data-toggle="tooltip" title="Edit"><i class="fas fa-xs fa-edit"></i></a>
                    <!-- <a href="{% url 'certificate:delete_certificate_template' certificate.id %}" class="btn btn-danger btn-xs"    
                    data-placement='top' data-toggle='tooltip' title='Delete'><i class="fas fa-xs fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>


    </div>
</section>
<!-- /.content -->



{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}