<script>
    // Create the chart
/*
*/ 



    Highcharts.chart('year_subjects-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Students from different semesters.'
        },
        yAxis: {
            title: {
                text: 'Total Students'
            }
    
        },
        xAxis: {
            categories: [
          //  'Science students','Non-science studets'
            {% for semester in semester_student_dataset %}'{{ semester.semester_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]

        },
        series: [{
            name: 'Semesters',
            color:'#094089',
            data: [
            {% for student in semester_student_dataset %}{{ student.students }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }, ]
    });
</script>