<script>
    Highcharts.chart('student_attendance-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total attendance status'
        },
        xAxis: {
            
            categories: 
            [
            {% for semester in student_attendance_dataset %}
            

                '{{ semester.semester_name }}'
                
                {% if not forloop.last %}, {% endif %}

            {% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Students'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true
                }
            }
        },
        series: [{
            name: 'Present',
            data: [
                {% for semester in student_attendance_dataset %} {{ semester.present_status_count }} {% if not forloop.last %}, {% endif %} {% endfor %}
             ],
            color:'#743DB8',
        },  {
            name: 'Absent(Informed)',
            color:'#fe4164',
            data: [
            {% for semester in student_attendance_dataset %} {{ semester.absent_informed_status_count }} {% if not forloop.last %}, {% endif %} {% endfor %}
           ]
        },
       
        {
            name: 'Absent(Not Informed)',
            color:'#fe410f',
            data: [ {% for semester in student_attendance_dataset %} {{ semester.absent_not_informed_status_count }} {% if not forloop.last %}, {% endif %} {% endfor %}]
        },
       ]
    });
               
</script>
