<script>
    // Create the chart
/*
*/ 



    Highcharts.chart('total_students-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Students from different classes.'
        },
        yAxis: {
            title: {
                text: 'Total Students'
            }
    
        },
        xAxis: {
            categories: [
          //  'Science students','Non-science studets'

       

            {% for semester in class_student_dataset %}
            {% if semester.course_name %}
            
            '{{ semester.course_name }}( {{ semester.semester_name }} )'
            {% else %}
            '{{ semester.semester_name }}'
            {% endif %}
                
                {% if not forloop.last %}, {% endif %}
         

            {% endfor %}

   
]
        },
        series: [{
            name: 'Total Students',
            color:'#743DB8',
            data: [
            {% for student in class_student_dataset %}{{ student.students }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }, ]
    });
</script>