<script>
    // Create the chart
/*
*/ 



    Highcharts.chart('total_students-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Students from different classes.'
        },
        yAxis: {
            title: {
                text: 'Total Students'
            }
    
        },
        xAxis: {
            categories: [
          //  'Science students','Non-science studets'

             {% if semester.course_name %}

            {% for semester in class_student_dataset %}'{{ semester.course_name }}( {{ semester.semester_name }} )'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
            {% else %}

            {% for semester in class_student_dataset %}'{{ semester.semester_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}

            {% endif %}
]
        },
        series: [{
            name: 'Total Students',
            color:'#743DB8',
            data: [
            {% for student in class_student_dataset %}{{ student.students }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }, ]
    });
</script>