{% extends 'calendar_base.html' %}
{% load i18n %}
{% load auth_extras %}
{% load static %}
{% block head_title %}Calendar | {{ object.name }}{% endblock %}
{% block tab_id %}id='home_tab'{% endblock %}
{% block head %}
<link rel="icon" type="images/jpg" href="{% static 'image/global_college_logo.png' %}"> 

    {% include "fullcalendar_script.html" %}
    
{% endblock %}



{% block main_content %}
{% if  request.user|has_group:'Admin' or request.user.is_superuser   %}
    <a class="btn btn-sm text-white text-bold float-right mr-4 mt-4 " style="  background-color:#173281; " href="{% url 'calendar_create_event' calendar_slug %}">
        <span class='glyphicon glyphicon-plus'></span>
        {% trans "Add New Event" %}
    </a>
{% endif %}
    <br>
    <br>

    <div class="row">
        <div class="col-md-8">
            <div id='calendar' class="ml-3 mr-3"></div><!--calendar id is from full_scripts.html-->
        </div>
        <div class="col-md-4" style = "margin-top: 75px;">
            {% include "schedule/event_list.html" %}
        </div>
    </div>


    {% include "fullcalendar_modal.html" %}
  
{% endblock %}
