


  {% extends 'admin_templates/base_admin.html' %}

  {% block main_content %}
  
  <section class="content">
    <div class="alert alert-default-warning text-center">
    <strong>  Please Create Calendar Slug Before You See and Manage Event!</strong>
    <a href="{% url 'add_calendar_slug' %}" class="btn btn-xs btn-danger ml-4"><strong>Add Calendar Slug</strong></a>
  </div>
      <div class="error-page mt-4">
        <h2 class="headline text-warning"> 404</h2>

     
  
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
  
          <p>
            We could not find the page you were looking for.
           
          </p>
  
       
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
  {% endblock main_content %}