{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Enquiries {% endblock %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-header" style="background-color: #743DB8;color:white;" >
                    <span>Enquiries</span>
                </div>

                <div class="card-body table-responsive">
            
                    <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover text-nowrap dataTable no-footer">
                    <thead>
                        <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Home Phone</th>
                        <th>Mobile Phone</th>
                        <th>Email</th>
                        <th>Called</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in enquiry %}
                            <tr>
                                    <td></td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.home_contact}}</td>
                                    <td>{{item.mobile_no}}</td>
                                    <td>{{item.email}}</td>
                                    <td>
                                        {% if item.called %}
                                        Yes
                                        {% else %}
                                        No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{item.get_status_display}}
                                    </td>
                                    <td>{{item.remarks}}</td>
                                    <td>
                                        <a href="{% url 'enquiry:enquiry_detail' item.pk %}" class="btn btn-xs btn-info"><strong>View</strong></a>
                                        {% if item.status != "APL" and item.status != "DRP" %}
                                        <a href="{% url 'enquiry:enquiry_edit' item.pk %}" class="btn btn-xs btn-success"> <i class="fas fa-xs fa-edit"></i></a>
                                        {% endif %}
                                        <button type="button" class="btn btn-info btn-xs modal_display" data-id="{{item.pk}}" data-toggle="modal" data-target="#exampleModalCenter"
                                            {% if item.status == "DRP" or item.status == "APL" %}
                                            disabled
                                            {% endif %}>
                                            Actions
                                          </button>
                                        
                                    </td>
                            </tr>
                            
                        {% endfor %}
                        {% include 'enquiry/mail_modal.html'%}
                    </tbody>
                    </table>
                </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
  </div>

  
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}
<script>
    $(".modal_display").click(function(e){
        var id = $(this).data('id')
        
        $.ajax({
            url:" {% url 'enquiry:show_modal' %}",
            data: {'id':id},
            success: function(data){
                $("#modal_body").html(data);
            }
        })
    })
</script>

{% endblock custom_js %}
