{% load static %}

<div class="row">
  <div class="col-md-0 mt-2 mb-1">
    <span>


      {% if assignment.file %}
      <a href="{{ assignment.file.url }}">
        <img src="{% static 'image/assignment.png' %}" alt="" style="width:70px;height:70px;" class="img-rectangle" />

      </a>
      {% else %}

      <a href="">
        <img src="{% static 'image/assignment.png' %}" alt="" style="width:70px;height:70px;" class="img-rectangle" />

      </a>
      {% endif %}


    </span>

  </div>
  <div class="col-md-10">


    <div class="card" style="border-radius:10px;">

      <div class="card-body ">


        <div class="d-flex justify-content-between">

          <div>
            {% if assignment.file %}
            <a href="{{ assignment.file.url }}" class="text-capitalize">
              <strong> {{ assignment.title }}</strong>

            </a>
            {% else %}
            <a href="" class="text-capitalize">
              <strong> {{ assignment.title }}</strong>

            </a>
            {% endif %}
          </div>


          <div>
           Turned In <span class="badge badge-primary">
              {{assignment.grade_set.all.count}}/{{assignment.semester.student_set.all.count}}
            </span>
          </div>

        </div>
        <div class="d-flex justify-content-between">
          <div>
            <strong> {{ assignment.Subject }}</strong>, {{ assignment.section }} ,
            <strong>Due : </strong>{{ assignment.deadline }}

          </div>

        
          <div>
            Checked  <span class="badge badge-primary">
              {{assignment.assignment_return.all.count}}
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-md-0 mt-4" >
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{% url 'academic:student_assignment_grade' assignment.pk %}">Check Assignment</a>
        <a class="dropdown-item" href="{% url 'academic:edit_assignment' assignment.id %}">Edit</a>
        <button class="dropdown-item" data-target='#deleteAssignment-{{ assignment.id}}'
          data-toggle="modal">Delete
        </button>
        <a class="dropdown-item" href="{% url 'academic:draft_publish_unpublish' assignment.id %}">Move to Draft</a>
      </div>
    </div>
    <div class="d-flex flex-column mt-1">
      

    </div>
  </div>

  