
{% load auth_extras %}

   
<table id="assignmentTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Subject</th>
      <th>File</th>
      {% if  request.user|has_group:'Admin' or request.user.is_superuser or request.user|has_group:'Teacher'   %}
      <th>Action</th>
      {% endif %}
    </tr>
  </thead>
<tbody>

  {% for assignment in assigned_assignments %}


  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ assignment.title }}</td>
    <td>{{ assignment.description }}</td>
    
    {% if assignment.deadline <= today_date %}
    <td><span class="badge badge-default badge-danger">{{ assignment.deadline }}</span></td>

      {% else %}
      <td>{{ assignment.deadline }}</td>

    {% endif %}
      
    <td>{{ assignment.Subject }}</td>
    <td>
     
     {% if assignment.file %}

     <a href="{{ assignment.file.url }}" style="cursor: pointer;" class="btn btn-xs btn-success">
      <strong>View Assignment</strong>
    </a>
    <a href="{% url 'academic:assignment_answer_upload' assignment.id  %}" style="cursor: pointer;" class="btn btn-xs btn-success">
      <strong>Upload answer</strong>
    </a>

  {% else %}
  Not Uploaded
  {% endif %}
         
    
    </td>
    {% if  request.user|has_group:'Admin' or request.user.is_superuser or request.user|has_group:'Teacher'   %}
    <td>
      <a href="{% url 'academic:edit_assignment' assignment.id %}" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>
      
      
      <button  class="btn btn-danger btn-xs"  data-target='#deleteAssignment-{{ assignment.id}}' data-toggle="modal"><i
        class="fas fa-sm fa-trash-alt"></i></button>
    
    </td>
    {% endif %}
  </tr>
   </div>


  {% endfor %}



</tbody>

</table>
