


{% extends 'classroom/class_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{title}}
{% endblock title %}
  

{% block main_content %}

<section class="content">
  <div class="container-fluid">

	<div class="row">
		<div class="col-12 col-sm-6 col-md-3">
		  <div class="info-box border border-info">
			<span class="info-box-icon elevation-1"  style="background:#435EBE;">
			  <a href=""> <i class="fas fa-1x fa-user-graduate"></i></a>
			</span>
  
			<div class="info-box-content">
			  <span class="info-box-text">Active Students</span>
			  <span class="info-box-number">
				{{active_students_count}}
			  </span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<div class="col-12 col-sm-6 col-md-3">
		  <div class="info-box border border-warning">
			<span class="info-box-icon bg-warning elevation-1">
			  <a href=""> <i class="fas fa-1x fa-user-graduate"></i></a>
			</span>
  
			<div class="info-box-content">
			  <span class="info-box-text">Inactive Students</span>
			  <span class="info-box-number">
				{{inactive_students_count}}
			  </span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-12 col-sm-6 col-md-3">
		  <div class="info-box mb-3 border border-success">
			<span class="info-box-icon bg-success elevation-1">
			  <a href="" class="text-white"> <i
				  class="fas fa-1x fa-chalkboard-teacher"></i></a>
			</span>
  
			<div class="info-box-content ">
			  <span class="info-box-text">Teachers</span>
			  <span class="info-box-number">{{teachers_count}}</span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
  
		<!-- fix for small devices only -->
		<div class="clearfix hidden-md-up"></div>
  
		<div class="col-12 col-sm-6 col-md-3">
		  <div class="info-box mb-3 border border-primary">
			<span class="info-box-icon bg-primary elevation-1">
			  <a href=""> <i class="fas fa-1x fa-book-open"></i></a>
			</span>
  
			<div class="info-box-content">
			  <span class="info-box-text">Courses</span>
			  <span class="info-box-number">{{subjects_count}}</span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->
  
		<!-- /.col -->
	  </div>



    <div class="row">
      <div class="col-md-12">
   
		<div class="card">
			<div class="card-header p-2 ">


			
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
					  <figure class="student_attendance">
						<div id="student_attendance-container"></div>
						<!-- <p class="highcharts-description">
						This pie chart shows the total number os students and teachers.
					</p> -->
					  </figure>
					</div>
					<div class="col-md-6">
					  <figure class="total_students">
						<div id="total_students-container"></div>
						<!-- <p class="highcharts-description">
						chart for subject and year
			  
					</p> -->
					  </figure>
					</div>
					{% include "classroom/includes/charts/school/attendance.html" %}
					{% include "classroom/includes/charts/school/total_students.html" %}

			 
			</div><!-- /.card-body -->
		  </div>

      </div>
    

    </div>
  </div>
</section>


<style>

	.col-md-2{
		border-radius: 50rem;
	    border: none;
	    -webkit-box-shadow: 0 0 15px 0 #ddd;
	    box-shadow: 0 0 15px 0 #ddd;
	    text-align: center;
	    background: #fff;
	 	 padding:3rem 0rem;
	  	margin:10px 7px 0px 20px;

	}

	.custom-icon i{
	    padding: 20px;
	    font-size: 50px;
	    text-align: center;
	    color: #115c8d;
		padding-top:inherit;
		padding-bottom: 1px;
		margin-bottom:0.7rem;
	}
	.nav-custom > li > a:hover{
		color:black;
	  }
	  .nav-custom > li > a{
		
		font-weight: 600;
		color:white;
		padding: 8px 10px 8px 10px;
		background-color:#435EBE ;
		
	
	  }
</style>

{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}
