{% extends 'admin_templates/base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{title}}
{% endblock title %}
  
{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->

  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white">
            <span>Manage {{title}}</span>
           
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            

            <!-- <a href="{% url 'academic:subject_log' %}" class="btn btn-xs float-right mr-2 text-white" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);"  >
             
          </a> -->
                 
            <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Question No</th>
                  <th>Mark</th>
                
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for question in sub_questions_marks %}
                <tr>
                  <td></td>
                  <td>{{ forloop.counter }}</td>

                 
                  <td>{{ question.question_no }}</td>

                  
                  {% if  question.total_marks %}
                  <td>{{ question.total_marks }}</td>

                  {% else %}
                  <td>{{ question.total_marks }}</td>
                    
                  {% endif %}
                    
              
                
               
                  <td>
                  <a href="" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>
                
                  
                
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

<script>
  
  $(document).ready(function () {

    $('#subjectTable').DataTable({

      dom: 'lBfrtip',//if i use buttons then entries goes away
      pagingType: "full_numbers",
      
      buttons: [
        {
          'extend': 'copy',
          'text': '<i class="fas  fa-copy" aria-hidden="true"></i> Copy',
          
          className: '<div class = "btn btn-info"></div>',//button css does not work

        },
        {
          extend: 'excel',
          text: '<i class="fas  fa-file-excel" aria-hidden="true"></i> Excel',


        },
        {
          extend: 'csv',
          text: '<i class="fas  fa-file-csv" aria-hidden="true"></i> Csv',


        },
        {
          extend: 'pdf',
          text: '<i class="fas  fa-file-pdf" aria-hidden="true"></i> Pdf',


        },
        {
          extend: 'print',
          text: '<i class="fas  fa-print" aria-hidden="true"></i> Print',


        }

      ],
    });
  });
</script>

{% endblock custom_js %}