    <div class="row">
      <div class="col-md-6">
        <figure class="issues_returns_members_total">
          <div id="issues_returns_members_total-container"></div>
          <!-- <p class="highcharts-description">
          This pie chart shows the total number os students and teachers.
      </p> -->
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="categories_books">
          <div id="categories_books-container"></div>
          <!-- <p class="highcharts-description">
          chart for subject and year

      </p> -->
        </figure>
      </div>
       <div class="col-md-6">
        <figure class="fine_details">
          <div id="fine_details-container"></div>
          <!-- <p class="highcharts-description">
          chart for subject and year

      </p> -->
        </figure>
      </div>
       <div class="col-md-6">
        <figure class="renew_status">
          <div id="renew_status-container"></div>
          <!-- <p class="highcharts-description">
          chart for subject and year

      </p> -->
        </figure>
      </div>
    </div>
    {% include "includes/include_admin/charts/library_management/issues_returns_members.html" %}
    {% include "includes/include_admin/charts/library_management/books_and_categories.html" %}

    {% include "includes/include_admin/charts/library_management/renew_status.html" %}

    {% include "includes/include_admin/charts/library_management/fine_details.html" %}

