
{% load static %}
{% load compress %}



{% compress css %}

<link rel='stylesheet' type='text/css' href='{% static "fullcalendar/fullcalendar.min.css" %}' />
{% endcompress %}

{% compress js %}


<script type='text/javascript' src='{% static "fullcalendar/fullcalendar.js" %}'></script>

<script type='text/javascript' src='{% static "fullcalendar/moment.js" %}'></script>
{% endcompress %}

{% comment %} <script type='text/javascript' src='http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js'></script> {% endcomment %}
