<script>

  function getDataTableConfig({
    table_id,
    delete_id_key,
    message_title,
    Model,
    action_index,
    edit_url,
    delete_url,
    view_url,
    make_inactive_url,
    app_name = "",
    replace_app_name = "",
    default_order_index = 2,
    append_action = "",
    additionalColumn = [],
    action = 'delete',
    additionalConfig = {},
    permissionConfig = [],
    csvGenerateUrl = '',
    showRestoreSelected = false,
    exportName = '',
  }={}) {

    let delteSelected = {};
    if(!showRestoreSelected){
      delteSelected = {
          text: "Delete Selected",
          action: function (e, dt, node, config) {
            deleteSelected({table:$(table_id).DataTable(), id:delete_id_key, message_title:message_title,model: Model,app_name:app_name,replace_app_name:replace_app_name,action:action});
          },
        }
    }else{
      delteSelected = {
          text: "Restore Selected",
          action: function (e, dt, node, config) {
            deleteSelected({table:$(table_id).DataTable(), id:delete_id_key, message_title:message_title,model: Model,app_name:app_name,replace_app_name:replace_app_name,action:'restore'});
          },
        }
    }

    return {
      dom: "B<'m-2 row d-flex justify-content-between extra-container'l<'extra'>f>rtip",
      buttons: [
        "csv",
        "excel",
        "colvis",
        delteSelected,
        {
          text: "Export All",
          action: function (e, dt, node, config) {

            exportSelected({model: Model,app_name:app_name,replace_app_name:replace_app_name, csvGenerateUrl: csvGenerateUrl,exportName:exportName});
          },
        },
      ],
      pageLength: 50,
      "processing": true,
      "language": {
        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw text-success"><i>'
        },
      columnDefs: [
        {
          targets: 0,
          width: 20,
          orderable: false,
          className: "select-checkbox",
          searchable: false,
          render: function (data, type, row, meta) {
            return "";
          },
        },
        {
          targets: action_index,
          searchable: false,
          orderable: false,
          render: function (data, type, row, meta) {
            return getAppendData(
              row,edit_url,delete_url,view_url,make_inactive_url,delete_id_key,
              append_action,permissionConfig
            );
          },
        },
        {
          targets: 1,
          visible: false,
          searchable: false,
        },
        {
          targets: 2,
          searchable: false,
          render: function (data, type, row, meta) {
            return meta.row+1;
          },
        },


      ].concat(additionalColumn),
      select: {
        style: "multi",
        selector: "td:first-child",
      },
      order: [[default_order_index, "desc"]],
      serverSide: true,
      fixedHeader: true,
      ...additionalConfig,
    };
  }



  function getAppendData(row, edit_url, delete_url,view_url,make_inactive_url, id,append_action = "",permissionConfig) {
    let edit_href = edit_url.replace("pk_val", row[id]);
    let delete_href = delete_url.replace("pk_val", row[id]);
    let view_href = view_url.replace("pk_val", row[id]);
    let make_inactive_href = make_inactive_url.replace("pk_val", row[id]);

    let appendData = '';
    
      appendData+=`
      <div class="btn-group">
        <button type="button" style = "background-color:#435EBE ;color:white;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Action</strong>
        </button>
        <div class="dropdown-menu">
      
          
          <a class="dropdown-item" href="${view_href}">View Student Details</a>
          <a class="dropdown-item" href="${edit_href}">Edit</a>
          <form action="${delete_href}" method="POST" class="delete-form">{% csrf_token %}
            <a type="submit" class = "ml-3 btn-delete">Delete</a>
          </form>
          <a class="dropdown-item" href="${make_inactive_href}">Make Inactive</a>
        </div>
      </div>
      `

 
  
    
    return (appendData
       +
      append_action.replace(/pk_val/g,row[id])
    );
  }
</script>