

    <li class="nav-item">
      <a href="{% url 'academic:add_department' %}" class="nav-link">
        <i class="fas  fa-book-open"></i>
        <p>
          Department

        </p>
      </a>
    </li>


    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas  fa-book"></i>
        <p>
          Courses
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>

      <ul class="nav nav-treeview">
        <li class="nav-item ml-3">
          <a href="{% url 'academic:manage_coursecategory' %}" class="nav-link">
            <i class="fas  fa-book-open"></i>
            <p>
              Course Category
    
            </p>
          </a>
        </li>
        <li class="nav-item ml-3">
          <a href="{% url 'academic:add_manage_course' %}" class="nav-link">
            <i class="fas  fa-book-open"></i>
            <p>
              Course
    
            </p>
          </a>
        </li>
    
      </ul>
    </li>
    <li class="nav-item">
      <a href="{% url 'academic:manage_class' %}" class="nav-link">
        <i class="fas  fa-sitemap"></i>
        <p>
          Class

        </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'academic:manage_section' %}" class="nav-link">
        <i class="fas  fa-star"></i>
        <p>
          Section

        </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas  fa-book"></i>
        <p>
          Subject
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>

      <ul class="nav nav-treeview">
        <li class="nav-item ml-2">
          <a href="{% url 'academic:manage_subject' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Subjects</p>
          </a>
        </li>


        <li class="nav-item ml-2">
          <a href="{% url 'academic:assign_subject_to_teacher' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Assign subject to teacher</p>
          </a>
        </li>

        <li class="nav-item ml-2">
          <a href="{% url 'academic:showsubjectteacherlist' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Teacher Subject Manage</p>
          </a>
        </li>

        <li class="nav-item ml-2">
          <a href="{% url 'academic:assign_class_to_teacher' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Assign class to teacher</p>
          </a>
        </li>

        <!-- <li class="nav-item ml-2">
          <a href="{% url 'academic:subject_to_class' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Assign subject to class</p>
          </a>
        </li> -->
        <!-- <li class="nav-item ml-2">
          <a href="" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Optional Subject</p>
          </a>
        </li> -->

      </ul>
    </li>
    <!-- <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas  fa-book"></i>
        <p>
          Student Subject Assignment
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item ml-2">
          <a href="{% url 'academic:assign_subject_to_student' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Subject Assignment</p>
          </a>
        </li>

        <li class="nav-item ml-2">
          <a href="{% url 'academic:drop_subject' %}" class="nav-link">
            <i class="fas  fa-sm fa-book"></i>
            <p>Drop Subject</p>
          </a>
        </li>
      </ul>
    </li> -->
   
    <li class="nav-item">
      <a href="{% url 'academic:add_assignment' %}" class="nav-link">
        <i class="fas  fa-file"></i>
        <p>
          Assignment

        </p>
      </a>
    </li>
 
    <!-- <li class="nav-item">
      <a href="{% url 'academic:student_details' %}" class="nav-link">
        <i class="fas  fa-book"></i>
        <p>
          Student Details

        </p>
      </a>
    </li> -->
    <li class="nav-item">
      <a href="{% url 'academic:add_syllabus' %}" class="nav-link">
        <i class="fas  fa-folder-open"></i>
        <p>
          Syllabus

        </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'academic:add_routine' %}" class="nav-link">
        <i class="fas  fa-folder-open"></i>
        <p>
          Routine

        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'academic:add_enote' %}" class="nav-link">
        <i class="fas  fa-folder-open"></i>
        <p>
          E-Notes

        </p>
      </a>
    </li>
   
   
