

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas  fa-user-cog mr-1"></i>
            <p>
              Administrator

              <i class="fas  fa-angle-left right"></i>


            </p>
          </a>

          <ul class="nav nav-treeview">
            <!-- <li class="nav-item ml-3">
              <a href="{% url 'admin_app:add_manage_session' %}" class="nav-link">
                <i class="fas  fa-calendar-plus"></i>
                <p>
                  Academic Year

                </p>
              </a>
            </li> -->
            <!-- <li class="nav-item ml-3">
      <a href="{% url 'admin_app:add_manage_group' %}" class="nav-link">
        <i class="fas  fa-object-group"></i>
        <p>
          Student Group

        </p>
      </a>
    </li> -->
            <li class="nav-item ml-3">
              <a href="{% url 'admin_app:manage_complain' %}" class="nav-link">
                <i class="fas  fa-comment-dots"></i>
                <p>
                  Complain

                </p>
              </a>
            </li>
            <li class="nav-item ml-3">
              <a href="{% url 'admin_app:manage_certificate_template' %}" class="nav-link">
                <i class="fas  fa-certificate"></i>
                <p>
                  Cerfiticate Template

                </p>
              </a>
            </li>




            <li class="nav-item ml-3">
              <a href="{% url 'change_other_password' %}" class="nav-link">
                <i class="fas  fa-key"></i>
                <p>
                  Reset Other Password

                </p>
              </a>
            </li>
            <!-- <li class="nav-item ml-3">
              <a href="{% url 'admin_app:manage_sociallink' %}" class="nav-link">
                <i class="fas  fa-users"></i>
                <p>
                  Social Link

                </p>
              </a>
            </li> -->
          </ul>