<li class="nav-item has-treeview">

  <a href="#" class="nav-link">
    <i class="fas  fa-bullhorn mr-1"></i>
    <p>
      Announcement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>


  <ul class="nav nav-treeview">

    <li class="nav-item has-treeview">
      <a href="#" class="nav-link ml-3">
        <i class="fas  fa-calendar"></i>
        <p>
          Event

          <i class="fas fa-angle-left right"></i>


        </p>
      </a>



      <ul class="nav nav-treeview">

        <li class="nav-item ml-3">
          <a href="{% url 'manage_event'  %}" class="nav-link">
            <i class="far  fa-circle"></i>
            <p>
              English Calendar

            </p>
          </a>
        </li>
        <!-- <li class="nav-item ml-3">
<a href="{% url 'admin_app:manage_holiday' %}" class="nav-link">
<i class="far  fa-circle"></i>
<p>
  Nepali Calendar

</p>
</a>
</li> -->

        <!-- <li class="nav-item ml-3">
          <a href="{% url 'add_calendar_slug'  %}" class="nav-link">
            <i class="far  fa-circle"></i>
            <p>
              Add Calendar Slug

            </p>
          </a>
        </li> -->
      </ul>

    </li>

    <li class="nav-item ml-3">
      <a href="{% url 'admin_app:manage_notice' %}" class="nav-link">
        <i class="fas fa-calendar-alt"></i>
        <p>
          Notice

        </p>
      </a>
    </li>

    <!-- <li class="nav-item ml-3">
      <a href="{% url 'admin_app:manage_holiday' %}" class="nav-link">
        <i class="fas fa-snowman"></i>
        <p>
          Holiday

        </p>
      </a>
    </li> -->
  </ul>

</li>
