
              <li class="nav-item">
                <a href="{% url 'complain:manage_complain' %}" class="nav-link">
                  <i class="fas  fa-comment-dots"></i>
                  <p>
                   Manage Complain
  
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'complain:add_complain' %}" class="nav-link">
                  <i class="fas  fa-comment-dots"></i>
                  <p>
                    Add Complain
  
                  </p>
                </a>
              </li>
            
            