
      <li class="nav-item">
        <a href="{% url 'student_send_bulk_email' %}" class="nav-link">
          <i class="far  fa-circle"></i>
          <p>
            Students Bulk

          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'teacher_send_bulk_email' %}" class="nav-link">
          <i class="far  fa-circle"></i>
          <p>
            Teachers Bulk

          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'user_send_bulk_email' %}" class="nav-link">
          <i class="far  fa-circle"></i>
          <p>
            Extra User

          </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'send_sms' %}" class="nav-link">
          <i class="far  fa-circle"></i>
          <p>
            Send SMS

          </p>
        </a>
      </li>


