

{% if perms.enquiry.view_enquiry or perms.enquiry.add_enquiry or perms.enquiry.view_application  %}
  
  

      
      {% if perms.enquiry.add_enquiry %}
      <li class="nav-item">
        <a href="{% url 'enquiry:enquiryform' %}" class="nav-link">
          <i class="fas  fa-sitemap"></i>
          <p>
            Enquiry Form
  
          </p>
        </a>
      </li>
{% endif %}
{% if perms.enquiry.view_enquiry %}
      <li class="nav-item">
        <a href="{% url 'enquiry:enquiry_list' %}" class="nav-link">
          <i class="fas  fa-star"></i>
          <p>
            Enquiry List
          </p>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="{% url 'enquiry:application_form' %}" class="nav-link">
          <i class="fas  fa-star"></i>
          <p>
            Application Form
          </p>
        </a>
      </li>
      {% if perms.enquiry.view_application %}
      <li class="nav-item">
        <a href="{% url 'enquiry:application_list' %}" class="nav-link">
          <i class="fas  fa-star"></i>
          <p>
            Application List
          </p>
        </a>
      </li>
    
  {% endif %}
  {% endif %}