
<li class="nav-item">
  <a href="/schedule/fullcalendar/event/" class="nav-link">
    <i class="far  fa-circle"></i>
    <p>
      View Calendar

    </p>
  </a>
</li>
<li class="nav-item">
    <a href="{% url 'manage_event'  %}" class="nav-link">
      <i class="far  fa-circle"></i>
      <p>
        Manage Event

      </p>
    </a>
  </li>

 

  <li class="nav-item">
    <a href="" class="nav-link">
      <i class="far  fa-circle"></i>
      <p>
       Add Event

      </p>
    </a>
  </li>

    <!-- <li class="nav-item ml-3">
          <a href="{% url 'add_calendar_slug'  %}" class="nav-link">
            <i class="far  fa-circle"></i>
            <p>
              Add Calendar Slug

            </p>
          </a>
        </li> -->