

    <!-- Sidebar -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
               
                         {% if perms.library.add_bookissue or perms.library.view_bookissue  %}


                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Issue Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                         {% if perms.library.add_bookissue %}

                     <li class="nav-item">
                            <a href="{% url 'library:book_issue' %}" class="nav-link">
                                <i class="nav-icon fas fa-cart-plus"></i>
                                <p>Create Issue</p>
                            </a>
                        </li>
                        {% endif %}
                         {% if perms.library.view_bookissue %}


                        <li class="nav-item">
                            <a href="{% url 'library:book_issue_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-cart-plus"></i>
                                <p>Issue List</p>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
                        {% endif %}

                {% if perms.library.add_bookrenew or perms.library.view_bookrenew  %}

                 <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Renew Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                         {% if perms.library.add_bookrenew %}

                       <li class="nav-item">
                            <a href="{% url 'library:renew_issue' %}" class="nav-link">
                               
                               <i class="nav-icon fas fa-history"></i> Renew Book</p>
                            </a>
                        </li>
                        {% endif %}
                         {% if perms.library.view_bookrenew %}

                         <li class="nav-item">
                            <a href="{% url 'library:book_renew_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-history"></i>
                                <p>Renewed List</p>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
                        {% endif %}

                {% if perms.library.add_bookreturn or perms.library.view_bookreturn  %}

                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Return Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                {% if perms.library.add_bookreturn   %}

                        <li class="nav-item">
                            <a href="{% url 'library:return_issue' %}" class="nav-link">
                                <i class="nav-icon fas fa-long-arrow-alt-left"></i>
                                Return Book
                            </a>
                        </li>
                        {% endif %}
                {% if  perms.library.view_bookreturn  %}

                        <li class="nav-item">
                            <a href="{% url 'library:book_return_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-history"></i>
                                <p>Returned List</p>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
  {% endif %}


                {% if perms.library.add_librarymemberprofile or perms.library.view_librarymemberprofile  %}

                
                        <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Member Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                {% if perms.library.add_librarymemberprofile  %}

                     <li class="nav-item">
                    <a href="{% url 'library:add_member' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                            Create member
                        </p>
                    </a>
                </li>
                        {% endif %}
                {% if perms.library.view_librarymemberprofile  %}


                <li class="nav-item">
                    <a href="{% url 'library:member_list' %}" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                           Manage Members
                        </p>
                    </a>
                </li>
                        {% endif %}

                    </ul>
                </li>
                        {% endif %}
                {% if perms.library.add_librarymemberprofile or perms.library.view_librarymemberprofile  %}

                                   <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Book  Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                {% if perms.library.add_bookentry  %}

                       <li class="nav-item">
                    <a href="{% url 'library:add_book' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                            Create book
                        </p>
                    </a>
                </li>
                        {% endif %}
                {% if perms.library.view_bookentry  %}

                <li class="nav-item">
                    <a href="{% url 'library:book_list' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                           Manage Books
                        </p>
                    </a>
                </li>
                        {% endif %}

                    </ul>
                </li>

                        {% endif %}

                {% if perms.library.add_libraryfine or perms.library.view_libraryfine  %}


            <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Fine Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                {% if perms.library.add_libraryfine   %}

                     <li class="nav-item">
                            <a href="{% url 'library:add_library_fine' %}" class="nav-link">
                                <i class="nav-icon fas fa-cart-plus"></i>
                                <p>Create Fine</p>
                            </a>
                        </li>
                        {% endif %}
                {% if  perms.library.view_libraryfine  %}
                      
                         <li class="nav-item">
                            <a href="{% url 'library:library_fine_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-history"></i>
                                <p>Manage Fine</p>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
                        {% endif %}


                {% if perms.library.add_category or perms.library.view_category  %}


                                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Book Category Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                {% if perms.library.add_category  %}

                      <li class="nav-item">
                    <a href="{% url 'library:add_categories' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                            Create category
                        </p>
                    </a>
                </li>
                        {% endif %}

                {% if  perms.library.view_category  %}

                <li class="nav-item">
                    <a href="{% url 'library:category_list' %}" class="nav-link">
                        <i class="nav-icon fa fa-archive"></i>
                        <p>
                            Manage category
                        </p>
                    </a>
                </li>
                        {% endif %}

                    </ul>
                </li>
                        {% endif %}

              
               
             
            </ul>
        </nav>
        <!-- /.sidebar-menu -->