<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fas fa-xs fa-hammer"></i>
      <p class="text-sm">
        Settings

        <i class="fas fa-angle-left right"></i>


      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'setting_app:general_setting' %}" class="nav-link">
          <i class="fas fa-xs fa-cogs"></i>
          <p class="text-sm">
            General Settings

          </p>
        </a>
      </li>

      <li class="nav-item ml-3">
        <a href="{% url 'change_other_password' %}" class="nav-link">
          <i class="fas  fa-key"></i>
          <p>
            Reset Other Password

          </p>
        </a>
      </li>