
      {% url 'transport:manage_transport' as manage_transport_url %}
              <li class="nav-item">
                <a href="{% url 'transport:manage_transport' %}" class=" nav-item nav-link {% if request.path == manage_transport_url %} active{% endif %}">
                  <i class="fas fa-xs fa-bus"></i>
                    Transport
  
                </a>
              </li>
              {% url 'transport:transport_member' as transport_member %}
              <li class="nav-item">
                <a href="{% url 'transport:transport_member' %}" class=" nav-item nav-link {% if request.path == transport_member %} active{% endif %}">
                  <i class="fas fa-xs fa-chalkboard-teacher"></i>
                    Member
  
                </a>
              </li>
             
  
        
             
