
    
              <li class="nav-item">
                <a href="{% url 'user_history:user_log' %}" class="nav-link">
                  <i class="fas fa-xs fa-bus"></i>
                  <p class="text-sm">
                    All Logs
  
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'transport:transport_member' %}" class="nav-link">
                  <i class="fas fa-xs fa-chalkboard-teacher"></i>
                  <p class="text-sm">
                    Member
  
                  </p>
                </a>
              </li>
             
         
  