
       {% url 'user_history:log-history-management' as all_log_url  %}
              <li class="nav-item">
                <a href="{% url 'user_history:log-history-management' %}" class=" nav-item nav-link {% if request.path == all_log_url %} active{% endif %}">
                  <i class="fas  fa-history"></i>

                  <p class="text-sm">
                    All Logs
  
                  </p>
                </a>
              </li>
              {% url 'user_history:academic-log' as academic_log  %}
              <li class="nav-item">
                <a href="{% url 'user_history:academic-log' %}"  class=" nav-item nav-link {% if request.path == academic_log %} active{% endif %}">
                  <i class="fas fa-xs fa-chalkboard-teacher"></i>
                  <p class="text-sm">
                    Academic Logs
  
                  </p>
                </a>
              </li>
              {% url 'user_history:attendance-log' as attendance_log  %}
              <li class="nav-item">
                <a href="{% url 'user_history:attendance-log' %}"  class=" nav-item nav-link {% if request.path == attendance_log %} active{% endif %}">
                  <i class="fas fa-xs fa-chalkboard-teacher"></i>
                  <p class="text-sm">
                    Attendance Log
  
                  </p>
                </a>
              </li>
              {% url 'user_history:announcement-log' as announcement_log  %}
              <li class="nav-item">
                <a href="{% url 'user_history:announcement-log' %}"  class=" nav-item nav-link {% if request.path == announcement_log %} active{% endif %}">
                  <i class="fas fa-xs fa-chalkboard-teacher"></i>
                  <p class="text-sm">
                    Announcement Log
  
                  </p>
                </a>
              </li>
             
  


              