{% extends 'admin_templates/base_admin.html' %}
{% load crispy_forms_tags %}
{% load auth_extras %}

{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->

  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          
          <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
            <span>Manage Syllabus</span>
            <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form>
          </div>
         
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            {% if  request.user|has_group:'Admin' or request.user.is_superuser or request.user|has_group:'Teacher'   %}   
            {% url 'academic:add_syllabus' as button_url %}
            
             
          </a>
          {% endif %}
       
          {% if request.user.is_superuser %}
          <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
                  {% else %}
                  
          <table id="example"  cellspacing="0" width="100%" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap  no-footer">
          
          {% endif %}
          
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Title</th>
                  <th>File</th>
                  <th>Course</th>
                  <th>Semester</th>
                  <th>Subject</th>
                
                  <th>Description</th>
                  {% if request.user.is_superuser %}
                  <th>Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for syllabus in syllabus %}{% include 'academic/syllabus/delete.html' %}
                <tr>
                  <td></td>
                  <td>{{ syllabus.id }}</td>
                  <td>{{ syllabus.title }}</td>
                  <td>
                    <a href="{{ syllabus.file.url }}" style="cursor: pointer;" class="btn btn-xs btn-info">
                       <i class="fas fa-xs fa-eye"></i> View Syllabus
                    </a>
                  
                  </td>
                  <td>
                    <span class="badge badge-info">{{syllabus.course_category}} 
                    </span>
                    {% if syllabus.course %}
                    ( <span class="badge badge-warning">
                       {{syllabus.course}}</span> )
                   {% else %}
                   {% endif %}
                  </td>
                  <td>{{ syllabus.semester }}</td>
                  <td>{{ syllabus.subject }}</td>

              
                  <td>{{ syllabus.description }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <a href="{% url 'academic:edit_syllabus' syllabus.id %}" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>
                   
                       
                    <button  class="btn btn-danger btn-xs"  data-target='#deleteSyllabus-{{ syllabus.id }}' data-toggle="modal"><i
                      class="fas fa-sm fa-trash-alt"></i></button>
                  </td>
                  {% endif %}

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

<script>
  $(document).ready(function () {
  
    $("#id_course_category").change(function(){
      var course_category_id = $(this).val();
      
      $.ajax({
          url:" {% url 'attendance_app:fill_semester_select' %}",
          data:{'course_category':course_category_id},
          success:function(data){
              $("#id_semester").html(data);
          }
      })
  })
  
  
  $("#id_semester").change(function(){
    var semester_id = $(this).val();
    
    
    $.ajax({
        url:" {% url 'attendance_app:fill_section_select' %}",
        data:{'semester':semester_id},
        success:function(data){
            $("#id_section").html(data);
        }
    })
  })
  
  
  
  
  });
  $(function () {
    $('#example').DataTable({
        dom: 'lrftip',
        responsive: true
  
        
       
    });
  });
  </script>

{% endblock custom_js %}