{% for notice in notices_logs %}
<tr>
  
  <td><strong>Notice</strong></td>
  <td>{{notice.title}}</td>
  <td>{{notice.history_date}}</td>

  
  {% if notice.get_history_type_display == 'Changed'  %}
  <td><span class="badge badge-sm badge-info">Edited</span></td>
  {% elif notice.get_history_type_display == 'Deleted'  %}
  <td><span class="badge badge-sm badge-danger">Deleted</span></td>
  {% elif notice.get_history_type_display == 'Created'  %}
  <td><span class="badge badge-sm badge-info">Created</span></td>
  {% endif %}
    

  <td>{{notice.history_user}}</td>


</tr>
{% endfor %}