<script>
    // Create the chart
/*
*/ 



    Highcharts.chart('year_subjects-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        yAxis: {
            title: {
                text: 'Total'
            }
    
        },
        xAxis: {
            categories: [
            'Courses','Subjects','Department'
           // {% for subject in dataset %}'{{ subject.subject }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]

        },
        series: [{
            name:[ 'Courses','Subjects','Department'],
            color:'#6b75e0',
            data: [
            {{courses_count}},  {{subjects_count}},{{department_count}}
            
           // {% for subject in dataset %}{{ subject.student_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }, ]
    });
</script>