{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Procurement {% endblock %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-header" style="background-color: #743DB8;color:white;" >
                    <span>Procurement</span>
                </div>

                <div class="card-body table-responsive">
                    <table id="procurement_table" class="table table-sm  table-striped table-bordered table-hover text-nowrap dataTable no-footer">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Department/Branch</th>
                        <th>Personnel</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in procurement %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{% if item.requester_dept %}
                                    {{item.requester_dept}}
                                    {% else %}
                                    {{item.requester_branch}}
                                    {% endif %}
                                </td>
                                <td>{{item.requester}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{ item.status }}</td>
                                <td><a href="{% url 'inventory:procurement_details' item.pk %}" class="btn btn-sm btn-info"><strong>View</strong></a>      
                                    <button class="btn btn-info btn-sm modal_display" data-id="{{item.pk}}" data-toggle="modal" data-target="#exampleModalCenter"
                                        {% if not exempt %}
                                            {% if department != item.status.goto_branch %}
                                                disabled
                                            {% endif %}
                                        {% endif %}
                                    >
                                        <strong>Status</strong>
                                    </button>
                                </td>
                            </tr>    
                        {% endfor %}
                        {% include 'procurement/procurement_modal.html'%}
                    </tbody>
                    </table>
                </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
  </div>

  
</section>
<!-- /.content -->

{% endblock main_content %}

{% block javascript %}
<script>
    
    $(".modal_display").click(function(e){
        var id = $(this).data('id')
        
        $.ajax({
            url:" {% url 'inventory:show_modal' %}",
            data: {'id':id},
            success: function(data){
                $("#modal_body").html(data);
            }
        })
    })
</script>

{% endblock %}


