
{% load static %}
<script src="{% static 'plugins/datatables/dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/rowReorder.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/dataTables.rowReorder.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.flash.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>



<script>
  $(function () {
    $('#dataTable').DataTable({
        dom: 'lBfrtip',
        responsive: true,
        buttons: {
            buttons: [

         
                { extend: 'selectAll', className: 'btn-datatables' },
                { extend: 'selectNone', className: 'btn-datatables' },
                { extend: 'copy', className: 'btn-datatables'},
                { extend: 'csv', className: 'btn-datatables' },
                { extend: 'excel', className: 'btn-datatables' },
                { extend: 'print', className: 'btn-datatables' },
            ],
        },
        'columnDefs': [{
            'targets': 0,
            'orderable': false,
            'className': 'select-checkbox',
            'checkboxes': {
                'selectRow': true
            }
        }],
        'select': {
          'style': 'multi',
      },
        'order': [
            [1, 'asc']
        ]
    });
});

$(document).ready(function() {
   // $('select').select2({theme:"bootstrap4"});
});
  </script>

<style  type="text/css">
  
  .dt-buttons button{
    background-color: #7650B9;
    font-weight: 40px;
    font-size: large;
  }

  .dt-buttons button:hover{
    background-color: #7650B9 ;
  }

  /*For pagination */
  :root {

    --theadColor: #7650B9;
  
  }
  
  body {
  
          font-family: "Open Sans", sans-serif;
  
        }
  
        table.dataTable {
  
          box-shadow: #bbbbbb 0px 0px 5px 0px;
  
        }
  
        thead {
  
          background-color: var(--theadColor);
  
          
  
        }
  
        thead > tr,
  
        thead > tr > th {
  
          background-color: transparent;
  
          color: #fff;
  
          font-weight: normal;
  
          text-align: start;
  
        }
  
        table.dataTable thead th,
  
        table.dataTable thead td {
  
          border-bottom: 0px solid #111 !important;
  
        }
  
        .dataTables_wrapper > div {
  
          margin: 5px;
  
        }
  
        table.dataTable.display tbody tr.even > .sorting_1,
  
        table.dataTable.order-column.stripe tbody tr.even> .sorting_1, 
  
        table.dataTable.display   tbody tr.even,
  
        table.dataTable.display tbody tr.odd > .sorting_1,
  
        table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
  
        table.dataTable.display tbody tr.odd {
  
          background-color: #ffffff;
  
        }
  
        table.dataTable thead th {
  
          position: relative;
  
          background-image: none !important;
  
        }
  
        table.dataTable thead th.sorting:after,
  
        table.dataTable thead th.sorting_asc:after,
  
        table.dataTable thead th.sorting_desc:after {
  
          position: absolute;
  
          top: 12px;
  
          right: 8px;
  
          display: block;
  
          font-family: "Font Awesome\ 5 Free";
  
        }
  
        table.dataTable thead th.sorting:after {
  
          content: "\f0dc";
  
          color: #ddd;
  
          font-size: 0.8em;
  
          padding-top: 0.12em;
  
        }
  
        table.dataTable thead th.sorting_asc:after {
  
          content: "\f0de";
  
        }
  
        table.dataTable thead th.sorting_desc:after {
  
          content: "\f0dd";
  
        }
  
        table.dataTable.display tbody tr:hover > .sorting_1,
  
        table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  
          background-color: #f2f2f2 !important;
  
          color: #000;
  
        }
  
        tbody tr:hover {
  
          background-color: #f2f2f2 !important;
  
          color: #000;
  
        }
  
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
  
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  
               background: none !important;
  
               border-radius: 50px;
  
           background-color: var(--theadColor) !important;
  
           color:#fff !important
  
        }
  
  .paginate_button.current:hover
  
  {
  
          background: none !important;
  
               border-radius: 50px;
  
               background-color: var(--theadColor) !important;
  
           color:#fff !important
  
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  
    border: 1px solid #979797;
  
    background: none !important;
  
    border-radius: 50px !important;
  
     background-color: #000 !important;
  
     color: #fff !important;
  
  }
</style>



