
{% load static %}
<script src="{% static 'plugins/datatables/dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/rowReorder.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/dataTables.rowReorder.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.flash.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'plugins/datatables/responsive.js' %}"></script>




<script>
  $(function () {
    $('#example').DataTable({
        dom: 'lrftip',
        responsive: true,
        language: {
          info: "",
         
          }
  
        
       
    });
  });
  $(function () {
    $('#dataTable').DataTable({
        dom: 'lBrftip',
        responsive: true,
        
        buttons: {
            buttons: [
              
         
                { extend: 'selectAll', className: 'btn-datatables' },
                { extend: 'selectNone', className: 'btn-datatables' },
                { extend: 'copy', className: 'btn-datatables',
                exportOptions: {
                  columns: ':not(:last-child)' // hide columns with class 'actions'
              }
              },
                { extend: 'csv', className: 'btn-datatables' ,
                exportOptions: {
                  columns: ':not(:last-child)' // hide columns with class 'actions'
              }
              },
                { extend: 'excel', className: 'btn-datatables' ,
                exportOptions: {
                  columns: ':not(:last-child)' // hide columns with class 'actions'
              }
              },

                { extend: 'print', className: 'btn-datatables' ,
                exportOptions: {
                  columns: ':not(:last-child)' // hide columns with class 'actions'
              }
              },
            ],
        },
        'columnDefs': [{
            'targets': 0,
            'orderable': false,
            'className': 'select-checkbox',
            'checkboxes': {
                'selectRow': true
            }
        }],
        'select': {
          'style': 'multi',
      },
        'order': [
            [1, 'asc']
        ]
    });
});

$(document).ready(function() {
   // $('select').select2({theme:"bootstrap4"});
});
  </script>

<style  type="text/css">
  
  .dt-buttons button{
    background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);
    font-weight: 40px;
    font-size: large;
  }

  .dt-buttons button:hover{
    background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);
  }

  /*For pagination */

  .paginate_button.current:hover
  
  {
  
          background: none !important;
  
               border-radius: 50px;
  
               background-color: var(--theadColor) !important;
  
           color:#fff !important
  
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  
    border: 1px solid #979797;
  
    background: none !important;
  
    border-radius: 50px !important;
  
     background-color: #000 !important;
  
     color: #fff !important;
  
  }
</style>



