 
 {% load static %}
 <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">

    </li>


    <!-- right navbar-->
    <li class="nav-item dropdown">
      {% include 'includes/navbar.html'%}



      <!--for profile logout-->
    <li class="nav-item dropdown user user-menu">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">

        <div class="user-panel">
          <img src="{% static 'image/admin.png' %}" class="img-circle elevation-1 mb-2" alt="User Image">
          <span class="hidden-xs ml-2">{{ request.user.username }}</span>
        </div>

      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-info">
          <div class="user-panel">
            <img src="{% static 'image/admin.png' %}" class="img-circle elevation-2 mb-2" alt="User Image">

          </div>

          <span>
            {{ request.user.full_name }}<br>
            <small> <strong>Last Login : </strong> {{ request.user.last_login }}</small>
          </span>
        </li>

        <!-- Menu Footer-->




        <li class="user-footer">
          <div class="float-left">
            {% if request.user|has_group:'Student' %}
            <a href="{% url 'student_profile_update' %}" class="btn btn-default btn-flat">Profile</a>
            {% elif request.user|has_group:'Teacher' %}
            <a href="{% url 'teacher_profile_update' %}" class="btn btn-default btn-flat">Profile</a>
            {% elif request.user|has_group:'Admin' or request.user.is_superuser %}
            <a href="{% url 'admin_profile_update' %}" class="btn btn-default btn-flat">Profile</a>

            {% endif %}
          </div>
          <!-- <div class="float-left ml-3">
      <a href="{% url 'setting_app:general_setting' %}" class="btn btn-default btn-flat">Settings</a>
    </div> -->
          <div class="float-right">


            {% if request.user.is_authenticated %}
            <a class="btn btn-default btn-flat" href="{% url 'logout' %}">
              Sign out
            </a>
            {% else %}
            <a class="btn btn-default btn-flat" href="{% url 'login' %}">
              Login
            </a>

            {% endif %}
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <!-- /.navbar -->