<footer class="bottom-nav">
    <nav class="bottom-nav__nav">
      <ul class="bottom-nav__list">
        <li class="bottom-nav__item">
          <a href="{% url 'mis_main_home' %}" class="bottom-nav__link">
            <i class="fa fa-home"></i>
            <span class="bottom-nav__text">Home</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fas fa-tachometer-alt"></i>
            <span class="bottom-nav__text">Dashboard</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link">
            <i class="fa fa-bell"></i>
            <span class="bottom-nav__text">Notice</span>
          </a>
        </li>
        <li class="bottom-nav__item">
          <a href="#" class="bottom-nav__link" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-ellipsis-h"></i>

            <span class="bottom-nav__text" >
              More
            </span>
            
          </a>
        </li>
      </ul>
    </nav>
  </footer>