

    <div class="panel-body profile-view-dis">
        <div class="row">
           
                <div class="col-sm-6">
                    <div class="profile-view-tab">
                        <p><span>Joining Date </span>: {{ extrauser.join_date }} </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="profile-view-tab">
                        <p><span>Religion </span>: {{ extrauser.religion }}</p>
                    </div>
                </div>
         
                <div class="col-sm-6">
                    <div class="profile-view-tab">
                        <p><span>Email </span>: 
                       {{ extrauser.extra_user.email }}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="profile-view-tab">
                        <p><span>Address </span>: 
                            {{ extrauser.address }}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="profile-view-tab">
                        <p><span>Username </span>: 
                            {{ extrauser.extra_user.username }}</p>
                    </div>
                </div>

           <!------->
            
           
         
       
       <!--sjsjs-->
       
        </div>
    </div>
 <style>
     p{
         font-weight: 300;
     }
    span{
        font-weight: 400;
    }
 </style>