{% load crispy_forms_tags %}


    <div class="card" >
      <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
        <h3 class="card-title" >Add Course Category</h3>
      </div>
      <form  method="post"  >
        {% csrf_token %}
    
      <div class="card-body">
     
      {{ form|crispy }}
    
      </div>
      <!-- /.card-body -->
    
      <div class="card-footer">
        
        
        <button type="submit" class="btn btn-success ">Save</button>

          
      </div>
    </form>
    



      </form>

    </div>
    <!-- /.card -->


