{% extends 'admin_templates/base_admin.html' %} {% block headextra %}
<style>
  .greyba {
    background-color: rgba(178, 178, 178, 1);
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="card">
    {% include 'override_table/header.html' with card_title='Add Exam Grades' %}

    <div class="card-body">
      <form id="exam_form">
        <div class="row">
          <div class="col-md-2 mt-2">
            <select name="id_semester" id="id_semester" class="form-control">
              <option value="">Select Class</option>

              {% for item in classes %}

              <option value="{{item.pk}}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 mt-2">
            <select name="id_subject" id="id_subject" class="form-control">
              <option value="">Select Subject</option>
              {% for item in subjects %}
              <option value="{{item.pk}}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 mt-2">
            <select name="id_section" id="id_section" class="form-control">
              <option value="">Select Section</option>
              {% for item in sections %}
              <option value="{{item.pk}}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 mt-2">
            <select name="term_select" id="id_term" class="form-control">
              <option value="">Select Term</option>
              {% for item in terms %}
              <option value="{{item.pk}}">{{ item }}</option>

              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 mt-2">
            <button type="submit" class="btn btn-primary mr-4" id="confirm">
              Confirm
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="entryfield"></div>
</div>

{% endblock %} {% block javascript %}
<script>
  /*
        $(function() {
            $('#exam_select').prop('disabled', 'disabled');
        });
        $('#term_select').change(function(){
            var term_id = $(this).val();
            if(term_id!=""){
                $.ajax({
                    url: " {% url 'courses:fill_exam_select'%}",
                    data: {'term':term_id},
                    success: function(data){
                        $('#exam_select').html(data);
                        $('#exam_select').prop('disabled', false);
                    }
                })
            }else{
                $('#exam_select').prop('disabled', 'disabled');
                $('#exam_select option:eq(0)').prop('selected', true)
            }
        })*/

  /*
        $('#exam_form').submit(function(e){
            e.preventDefault();
            exam_id = $("#exam_select").val();
            $.ajax({
                url: "{% url 'courses:examsAjax'%}",
                data: {'exam_id':exam_id},
                success: function (data) {
                    $("#entryfield").html(data);
                }
            })
        })*/
  $("#exam_form").submit(function (e) {
    e.preventDefault();
    section_id = $("#id_section").val();
    class_id = $("#id_semester").val();
    subject_id = $("#id_subject").val();
    term_id = $("#id_term").val();

    $.ajax({
      url: "{% url 'courses:examsAjax'%}",
      data: {
        section_id: section_id,
        class_id: class_id,
        term_id: term_id,

        subject_id: subject_id,
      },
      success: function (data) {
        $("#entryfield").html(data);
        $("#confirm").prop("disabled", false);
      },
    });
  });
</script>
{% endblock %}
