{% extends 'admin_templates/base_admin.html'  %}

{% block content %}
<div class="card" style="margin-left: 10px; margin-right: 10px">

    <div class="card-header" style="background:#435EBE;color:white;" >
        <span>Add Remarks</span>
    </div>
    
    <div class = " card-body row align-items-center">
        <div class="col-4">
            <form name="" method="POST">
                {% csrf_token %}
                <label for="term_id">Select Term</label>
                <select name="term" id="term_id">
                    {% for item in terms %}
                        <option value="{{item.pk}}">
                            {{item.term_name}}
                        </option>
                    {% endfor %}
                </select>
        </div>

        <div class="col-3">
            <label for="term_id">Select Class</label>
            <select name="semester" id="term_id">
                {% for item in semester %}
                    <option value="{{item.pk}}">
                        {{item}}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-3">
            <label for="term_id">Select Group</label>
            <select name="group" id="term_id">
                {% for item in faculty %}
                    <option value="{{item}}">
                        {{item}}
                    </option>
                {% endfor %}
            </select>
        </div>
            <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
        </form>

        
        
    </div>
    </div>
    
    <hr>
    <!-- <button id="test_button">Click me</button> -->
    <div class='card' style="margin-left: 10px; margin-right: 10px">
        <div class="card-body">
            <table class="table table-hover" id="show_admit_cards">
                <thead class="thead" style="background:#435EBE;color:white;"> 
                    <tr>
                        <th>Application ID</th>   
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Term</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                {% if applications %}
                <tbody>
                    {% for item in applications %}
                    <tr>
                        <td id="application_id">{{item.pk}}</td>
                        <td>{{item.student.student_user.full_name}}</td>
                        <td>{{item.student.section}}</td>
                        <td>{{item.term}}</td>
                        <td><a href=" {% url 'courses:addstudentremarks' item.pk %} " class='btn btn-primary btn-sm'>Add Remarks</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    
    
    
</div>
{% endblock %}