{% extends 'admin_templates/base_admin.html'%}

{% block content %}
<div class="card" style="margin-left: 10px; margin-right: 10px">

    <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;" >
        <span>Add Remarks: {{application.student.student_user.full_name}}</span>
    </div>
    
    <div class = "card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Name: </span> {{application.student.student_user.full_name}} </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Student ID: </span> {{application.student.student_user.username}} </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Class: </span> {{application.student.semester}} </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Term: </span> {{application.term}} </p>
                </div>
            </div>
        </div>

        <div class="results">
            <div><strong> Results</strong></div>
            <br>
            <div>
                <table class="table table-hover table-sm">
                    <thead class=thead>
                        <tr>
                            <th>Exam</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in grades %}
                        <tr>
                            <td>{{item.exam_id}}</td>
                            <td>{{item.marks}} ({{item.grade}})</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <form action=" {% url 'courses:editremarks' application.pk %} ">
                <label for="remarks">Enter Remarks:</label>
                <textarea name="remarks" id="remarks" rows="4" cols="50">{{application.remarks}}</textarea>
                <input type="submit" value="Confirm" class="btn btn-primary btn-sm">
            </form>
        </div>
    </div>
</div>
    
    
{% endblock %}