{% extends 'admin_templates/base_admin.html'  %}

{% block content %}
<div class="card" style="margin-left: 10px; margin-right: 10px">

    <div class="card-header" style="background:#435EBE;color:white;" >
        <span>Add Remarks: {{student.student_user.full_name}}</span>
    </div>
    
    <div class = "card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Name: </span> {{student.student_user.full_name}} </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Student ID: </span> {{student.student_user.username}} </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Class: </span> {{student.semester}} </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profile-view-tab">
                    <p><span>Term: </span> {{term}} </p>
                </div>
            </div>
        </div>

        <div class="results">
            <div><strong> Results</strong></div>
            <br>
            <div>
                <table class="table table-hover table-sm">
                    <thead class=thead>
                        <tr>
                            <th>Subject</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in grades %}
                        <tr>
                            <td>{{item.subject}}</td>
                            <td>{{item.marks}} 
                                <!-- ({{item.grade}}) -->

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <form action=" {% url 'courses:editremarks' student.pk %} ">
                <!-- <label for="remarks">Enter Remarks:</label> -->
                <textarea name="remarks" id="remarks" rows="3" cols="60" style = "border-radius: 1rem;" placeholder="Enter Remarks For Students">{{application.remarks}}</textarea>
                <br>
                <input type="submit" value="Confirm" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
    
    
{% endblock %}