{% extends 'student_base.html'%}
{% block title %}
  Print Admit Card
{% endblock title %}
{% block content %}
<div style="margin-left: 10px; margin-right: 10px;">
    <h4>Print admit cards</h4>
<hr>
<table class="table table-hover" id="show_admit_cards">
    <thead class="thead" style="background-color: #094089;color:white;"> 
        <tr>
            <th></th>
            <th>Application ID</th>   
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Term</th>
            
        </tr>
    </thead>

    <tbody>
        
        {% for item in applications %}
        
        <tr>
            <td></td>
            <td id="application_id">{{item.pk}}</td>
            <td>{{item.student.student_user.username}}</td>
            <td>{{item.student.student_user.full_name}}</td>
            <td>{{item.term}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{% url 'courses:printadmitcards' %}" id="printadmitcard_form" method="POST">
    {% csrf_token %}
    <div id="printadmitcard_form_div">    
    </div>
    <input type="text" name="count" value="0" id="application_count" readonly hidden>
    <input type="submit" id="printadmitcard_form_submit" hidden>
</form>
    
</table>

</div>


</div>
 
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/sl-1.3.3/datatables.min.css"/>
        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/sl-1.3.3/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            var table = $('#show_admit_cards').DataTable({
                search: true,
                dom: 'Bfrtip',
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style: 'multi'
                },
                buttons: [
                'selectAll',
                'selectNone',
                {
                    text: 'Print',
                    action: function ( e, dt, node, config ) {
                        admitcardsubmit();
                    },
                    attr:  {
                        id: 'printadmitcard_submit'
                    },
                },
                ],
            });
        })

        
        
        function sendexamcode(examid){
            $.ajax({
                url: "{% url 'courses:returnstudentlist_admit' %}",
                data: {'exam_id':examid},
                success: function(data){
                    $("#stuffgoeshere").html(data);
                    
                }
            })
        }

        $(document).ready(function() {

        })

        function admitcardsubmit(){
            var count=0;
            var tr_count=0;
            count = $("#show_admit_cards tbody tr.selected").length;


            $("#printadmitcard_form_div").html("");
            $("#show_admit_cards tbody tr.selected").each(function(){
                tr_count+=1;
                var app_id = $(this).find("td#application_id").text();
                var to_add = "<input type=\"text\" name="+ tr_count +" value="+app_id +" readonly hidden>";
                $("#printadmitcard_form_div").append(to_add);
            })

            if(count>0){
                $("#application_count").val(tr_count);
                $("#printadmitcard_form_submit").click();
            }else{
                $("#application_count").val(0);
                alert("Please select a student or Select All")
            }
        }    
        
        
        $("button#exam-submit").click(function(event){
            var exam_id=$(this).data("examid");
            sendexamcode(exam_id);
        })

    </script>
{% endblock %}

