{% extends 'admin_templates/base_admin.html'  %}

{% block content %}
<div class="container" style="margin-left: 10px; margin-right: 10px">

    <h4>Print results</h4><hr>
    <div class = "row align-items-center">
        <div class="col-7">
            <form name="" method="POST">
                {% csrf_token %}
                <label for="term_id">Select Term</label>
                <select name="term_id" id="term_id">
                    {% for item in terms %}
                        <option value="{{item.pk}}">
                            {{item.term_name}}
                        </option>
                    {% endfor %}
                </select>

                <label for="semester_id">Select Class</label>
                <select name="semester_id" id="semester_id">
                    {% for item in semester %}
                        <option value="{{item.pk}}">
                            {{item}}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            </form>
        </div>

        <div class = "col-5">
            <div class = "row">
                
                <form action="{% url 'courses:printresults' %}" id="printadmitcard_form" method="POST">
                    {% csrf_token %}
                    <div id="printadmitcard_form_div">    
                    </div>
                    <input type="text" name="count" value="0" id="application_count" readonly hidden>
                    
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <label for="from">From: </label><br>
                            <input type="date" name="from" id="from_date">
                        </div>
                        <div class="col-6 col-sm-6">
                            <label for="to">To: </label><br>
                            <input type="date" name="to" id="to_date">
                        </div>
                    </div>
                
                    <input type="submit" id="printadmitcard_form_submit" hidden>
                </form>
            </div>
        </div>
    </div>
    
    <hr>
    <!-- <button id="test_button">Click me</button> -->
    <table class="table table-hover" id="show_admit_cards">
        <thead class="thead" style="background:#435EBE;color:white;"> 
            <tr>
                <th></th>
                <th>Application ID</th>   
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Term</th>
                
            </tr>
        </thead>
    
        <tbody>
            
            {% for item in applications %}
            
            <tr>
                <td></td>
                <td id="application_id">{{item.pk}}</td>
                <td>{{item.student.student_user.username}}</td>
                <td>{{item.student.student_user.full_name}}</td>
                <td>{{item.term}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
</div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/sl-1.3.3/datatables.min.css"/>
        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/sl-1.3.3/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            var table = $('#show_admit_cards').DataTable({
                search: true,
                "pageLength": {{applications|length}},
                dom: 'Bfrtip',
                "pageLength": {{applications|length}},
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style: 'multi'
                },
                buttons: [
                'selectAll',
                'selectNone',
                {
                    text: 'Print',
                    action: function ( e, dt, node, config ) {
                        admitcardsubmit();
                    },
                    attr:  {
                        id: 'printadmitcard_submit'
                    },
                },
                ],
            });
        })


        function admitcardsubmit(){
            var count=0;
            var tr_count=0;
            count = $("#show_admit_cards tbody tr.selected").length;

            $("#printadmitcard_form_div").html("");
            $("#show_admit_cards tbody tr.selected").each(function(){
                tr_count+=1;
                var app_id = $(this).find("td#application_id").text();
                var to_add = "<input type=\"text\" name="+ tr_count +" value=\""+app_id +"\" readonly hidden>";
                $("#printadmitcard_form_div").append(to_add);
            })

            if(count>0){
                if($("#from_date").val() == "" || $("#to_date").val() == ""){
                    alert("Please select date for attendance count.")
                }else{
                    $("#application_count").val(tr_count);
                    $("#printadmitcard_form_submit").click();
                }
            }else{
                $("#application_count").val(0);
                alert("Please select a student or Select All")
            }
        }       
    </script>
{% endblock %}

