{% extends 'admin_templates/base_admin.html'%}

{% block content %}
<div class="container" style="margin-left: 10px; margin-right: 10px">

    <div class="card" >

    <div class="card-header bg-white"  >
    <h4 class = "px-3 py-3" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;" >Print Results</h4><hr>
       

        <div class = "row align-items-center">
            <div class="col-7">
                <form name="" method="POST">
                    {% csrf_token %}
                    <label for="term_id">Select Term</label>
                    <select class="form-control col-md-4" name="term_id" id="term_id">
                        {% for item in terms %}
                            <option value="{{item.pk}}">
                                {{item.term_name}}
                            </option>
                        {% endfor %}
                    </select>
    
                    <label for="semester_id">Select Class</label>
                    <select class = "form-control col-md-4" name="semester_id" id="semester_id">
                        {% for item in semester %}
                            <option value="{{item.pk}}">
                                {{item}}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Confirm</button>
                </form>
            </div>
    
            <div class = "col-5">
                <div class = "row">
                    
                    <form action="{% url 'courses:printresults' %}" id="printadmitcard_form" method="POST">
                        {% csrf_token %}
                        <div id="printadmitcard_form_div">    
                        </div>
                        <input type="text" name="count" value="0" id="application_count" readonly hidden>
                        
                        <div class="row">
                            <div class="col-6 col-sm-6">
                                <label for="from">From: </label><br>
                                <input type="date" name="from" id="from_date">
                            </div>
                            <div class="col-6 col-sm-6">
                                <label for="to">To: </label><br>
                                <input type="date" name="to" id="to_date">
                            </div>
                        </div>
                    
                        <input type="submit" id="printadmitcard_form_submit" hidden>
                    </form>
                </div>
            </div>
        </div>
        
      

      </div>
  
      <div class="card-body table-responsive">
    <!-- <button id="test_button">Click me</button> -->
    <table class="table table-hover" id="show_admit_cards">
        <thead class="thead" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;"> 
            <tr>
                <th></th>
                <th>Application ID</th>   
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Term</th>
                
            </tr>
        </thead>
    
        <tbody>
            
            {% for item in applications %}
            
            <tr>
                <td></td>
                <td id="application_id">{{item.pk}}</td>
                <td>{{item.student.student_user.username}}</td>
                <td>{{item.student.student_user.full_name}}</td>
                <td>{{item.term}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function(){
            var table = $('#show_admit_cards').DataTable({
                search: true,
                "pageLength": {{applications|length}},
                dom: 'Bfrtip',
                "pageLength": {{applications|length}},
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style: 'multi'
                },
                buttons: [
                'selectAll',
                'selectNone',
                {
                    text: 'Print',
                    action: function ( e, dt, node, config ) {
                        admitcardsubmit();
                    },
                    attr:  {
                        id: 'printadmitcard_submit'
                    },
                },
                ],
            });
        })


        function admitcardsubmit(){
            var count=0;
            var tr_count=0;
            count = $("#show_admit_cards tbody tr.selected").length;

            $("#printadmitcard_form_div").html("");
            $("#show_admit_cards tbody tr.selected").each(function(){
                tr_count+=1;
                var app_id = $(this).find("td#application_id").text();
                var to_add = "<input type=\"text\" name="+ tr_count +" value=\""+app_id +"\" readonly hidden>";
                $("#printadmitcard_form_div").append(to_add);
            })

            if(count>0){
                if($("#from_date").val() == "" || $("#to_date").val() == ""){
                    alert("Please select date for attendance count.")
                }else{
                    $("#application_count").val(tr_count);
                    $("#printadmitcard_form_submit").click();
                }
            }else{
                $("#application_count").val(0);
                alert("Please select a student or Select All")
            }
        }       
    </script>
{% endblock %}

