{% extends 'admin_templates/base_admin.html' %}
{% block content %}
    <h4>Choose Exam:</h4>
    <form action="{% url 'courses:examtoppers' %}" method="POST">
        {% csrf_token %}
        <select name = "exam_id">
            {% for exam in exams%}
            <option name="sub" value="{{exam.exam_id}}">{{exam.exam_title}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
    <hr>

    {% if students %}
    <h4>{{selected_exam.exam_title}}</h4>
        <table class ="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Student name</th>
                <th>Marks obtained</th>
                <th>Rank</th>
            </tr>
            </th></thead>
        {% for students in students%}
        <tr>
        <td>{{ students.application_id.student.student_user.full_name}}</td> <td>{{ students.marks}}</td> <td>{{students.rank}}</td>
        </tr>
        {%endfor%}
        </table>
    {% else %}
    <h4>There are no records for the selected exam.</h4>
    {% endif %}
{% endblock %}

{% block title%} | Check score{% endblock %}