
{% extends 'admin_templates/base_admin.html' %}

{% block content %}
<div style="margin-left: 10px; margin-right: 10px;">
  {% include 'override_table/header.html' with card_title='Teacher To Semester Management' %}
    <hr>

    <div style="margin-left: 10px; margin-right: 10px;">
      <table id="dataTable" class="table  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer" >
        <thead class="thead" > 
            <tr>
              <th></th>
                <th hidden>Teacher ID</th>   
                <th>Teacher Name</th>

                <th>Class</th>
                <th>Course</th>
                <th>Created at</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
    
        <tbody>
            {% for class in class_teacherlist%}
                <tr>
                  <td></td>
                    <td hidden>{{class.teacher.pk}}</td>
                    <td>{{class.teacher.full_name}}</td>

                    <td>{{class.semester}}</td>
                    <td>
                        <span class="badge badge-info">{{class.semester.course_category}} 
                        </span>
                        {% if class.semester.course %}
                        ( <span class="badge badge-warning">
                           {{class.semester.course}}</span> )
                       {% else %}
                       {% endif %}
                    </td>
                    <td>{{class.created_at}}</td>
                    <!-- <td>
                        <a href="" class="btn btn-primary btn-sm">Edit</a>
                        <a href="" class="btn btn-primary btn-sm">Delete</a>
                      </td> -->
                </tr>
            {% endfor %}
        </tbody>
    
    </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>  
    {% if messages %}
        {% for message in messages %}
            $(window).on('load', function() {
              $('#messageModal').modal('show');
              {% if 'safe' in message.tags %}
              $('#message_text').html('{{message|safe}}');
              {% else %}
              $('#message_text').html("{{message}}");
              {% endif %}

              
            }); 
        {% endfor %}   
    {% endif %}
</script>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="message_text"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}