{% extends 'admin_templates/base_admin.html'  %}
{% block content %}
<section class="content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">

          {% include 'override_table/header.html' with card_title=' Select exam to view results:' %}
        
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{% url 'courses:examresults' %}" method='POST' class="mt-4 ml-2 mb-2 ">
            {% csrf_token%}
            <select name='term' class="form-control col-md-3" >
              <option>Select Exam Term</option>
              {% for term in terms%}
              <option name='option' value='{{ term.pk}}' >{{ term.term_name}}</option>
              {% endfor%}
            </select>
            <br>

            <select name="semester" id="id_semester" class="form-control col-md-3">
                <option value="">Select Class</option>

                {% for item in classes %}

                    <option value="{{item.pk}}">{{ item }}</option>
                {% endfor %}
            </select>
            <br>
            
            <select name="subject" id="id_subject" class="form-control col-md-3">
                <option value="">Select Subject</option>
                {% for item in subjects %}
                    <option value="{{item.pk}}">{{ item }}</option>
                {% endfor %}
            </select>
            <br>
            <select name="section" id="id_section" class="form-control col-md-3">
                <option value="">Select Section</option>
                {% for item in sections %}
                    <option value="{{item.pk}}">{{ item }}</option>
                {% endfor %}
            </select>
            <br>
            <input type='submit' class="btn btn-success mt-3" >
          </form>

        </div>
        <!-- /.card -->


        {% if results %}
        <h4></h4>
        <hr>
        <div class ="card">
          <div class="card-header" style="background:#435EBE;">
            <h3 class="card-title  text-white">Results for {{term_instance.term_name}}:{% if section_instance %}{{section_instance}}{% else %}{{semester_instance}}{% endif %}.{{subject_instance}}</h3>
          </div>
          <div class ="card-body">
         
          
            <div class ="card-title">

            </div>
            <table id="example"  cellspacing="0" width="100%" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap  no-footer">
              <thead>
                <tr style=" text-align: center">
                  <th>Student Name</th>
                  <th>Marks</th>
                  <th>Rank</th>
                </tr>
              </thead>
                {% for result in results %}
                <tr>
                  <td style="width: 50%; text-align: center">{{result.student.student_user.full_name}}</td>
                  <td style="width: 25%; text-align: center">{{result.marks}}</td>
                  <td style="width: 25%; text-align: center">{{result.rank}}</td>
    
                </tr>
                {% endfor%}
              </table>
          </div>
        </div>
    
        <div>Students with -1 marks are not graded yet.</div>
        {% else %}
        {% if term_instance %}
        No results for {{term_instance}}
        {% else %}
        {% endif %}
    {% endif %}




      </div>
    </div>
  </div>
</section>
{% endblock %}