{% extends 'admin_templates/base_admin.html' %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex bd-highlight">
                <div class=" flex-grow-1 bd-highlight">
                

                    <div class="card pt-3 pl-2">
                        <div class="card-header mb-2 mr-1" style="background:#435EBE;color:white">
                            <strong> Publish Results </strong>
                        </div>
                        <table id="example"  cellspacing="0" width="100%" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap  no-footer">

                            <thead class='thead text-center'>
                                <tr>
                                    <th>Term</th>
                                    <th>Date</th>
                                    <th>Published</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class='text-center'>
                                {% for item in terms %}
                                    <tr>
                                        <td>{{item.pk}}</td>
                                      
                                       <td>
                                        {% if item.start_date and item.end_date %}
                                        {{item.start_date}} - {{item.end_date}}

                                        {% else %}
                                        {% endif %}
                                    </td>
                                   
                                        <td>{% if item.is_published %}
                                            Yes
                                            {% else %}
                                            No
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'courses:toggle_results' item.pk %} " class="btn btn-primary btn-xs">Publish</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
   
{% endblock %}