{% extends 'admin_templates/base_admin.html'%}
{% block content %}
<section class="content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">

          {% include 'override_table/header.html' with card_title=' Select exam to view results:' %}
        
          <!-- /.card-header -->
          <!-- form start -->
       

          <div class="card-header" >
       

            <span>{{title}}</span>

          
            <form class="float-right mb-2" action="{% url 'courses:examresults' %}" method='POST' style="height: 27px;margin:auto;position:relative;">
              {% csrf_token %}
              <div class="input-group">
             
          
                <select class="form-control col-md-6" name='exam' required>
                  <option>Select Exam Term</option>
                  {% for exams in exams%}
                  <option name='option' value='{{ exams.exam_id}}'>{{ exams.exam_title}}</option>
                  {% endfor%}
                </select>
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary">SUBMIT</button>
    
                </div>
              </div>
            </form>

          </div>
     
        <!-- /.card -->

<div class="card-body table-responsive">
        <h4>Results for {{selectdexam.exam_title}}</h4>
        <hr>
        <table id = "dataTable" class="table table-hover">
          <thead >
            <tr style=" text-align: center">
              <th></th>
              <th>Student Name</th>
              <th>Marks</th>
              <th>Rank</th>
            </tr>
          </thead>
        {% if results %}

            {% for result in results%}
            <tr>
              <td></td>
              <td style="width: 50%; text-align: center">{{result.application_id.student.student_user.full_name}}</td>
              <td style="width: 25%; text-align: center">{{result.marks}}</td>
              <td style="width: 25%; text-align: center">{{result.rank}}</td>

            </tr>
            {% endfor%}
          </table>
        <strong>Students with -1 marks are not graded yet.</strong>
        {% else %}
        {% if selectdexam %}
        No results for {{selectdexam}}
        {% else %}
        <!-- Please select an exam -->
        {% endif %}
    {% endif %}

</div>


      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}