<table class="table table-hover" id="show_admit_cards">
    <thead class="thead thead-dark"> 
        <tr>
            <th></th>
            <th>Application ID</th>   
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Exam</th>
            <th>Marks</th>
        </tr>
    </thead>

    <tbody>
        
        {% for item in applications %}
        
        <tr>
            <td></td>
            <td id="application_id">{{item.pk}}</td>
            <td>{{item.student.student_id}}</td>
            <td>{{item.student.student_name}}</td>
            <td>{{exam.exam_title}}</td>
            <td>{{item.exam.all.studentgrades}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{% url 'courses:printresults' %}" id="printadmitcard_form" method="POST">
    {% csrf_token %}
    <div id="printadmitcard_form_div">    
    </div>
    <input type="text" name="count" value="0" id="application_count" readonly hidden>
    <input type="submit" id="printadmitcard_form_submit" hidden>
</form>

