{% comment %} {% if students%} {% endcomment %}
    <hr>
    Please enter the score for the respective students.<br>
        <hr>
        <h4>Exam = {{term.term_name}}</h4>
        <hr>
       
            {% if studentgrades %}
            <form action="{% url 'teacher:edit_submitscore' %}" method="post">

                {% csrf_token %}
        
                    <input type="hidden" name="term_id" value="{{term_id}}">
                    <input type="hidden" name="class_id" value="{{class_id}}">
                    <input type="hidden" name="section_id" value="{{section_id}}">
                    <input type="hidden" name="subject_id" value="{{subject_id}}">
        
                    <table class="table table-hover">
        
                         {% for grade in studentgrades %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td> {{grade.student.student_user.full_name}}</td>
                            <td class='holder'> 
                                <input type="number" min="-1" max="100" 
                                    class="marks_input"    
                                    name="{{grade.student.student_user.full_name}}" value="{{grade.marks}}"style="width: 150px; text-align: right; " 
                                {% if grade.marks == -1 %}
                                    placeholder="Absent"
                                {% else %} 
                                    placeholder="{{grade.marks}}"
                                {% endif %}
                                >
                            </td>
                            <input type="hidden" name="student_ids" value="{{grade.student.pk}}">
        
                            <td>
                                 {% comment %} <input type="hidden" name="student_ids" value="{{stu.student_user.pk}}"> {% endcomment %}
        
                                <input type="checkbox" name="absent" value="{{grade.student.student_user.username}}"class="absent_checkbox"
                                {% if grade.is_absent %}checked{% endif %}> Absent
                            </td>
                        </tr>
            {% endfor %}

        
                    <tr><td colspan="3" align="center" ><button class="btn btn-primary" type="submit"> Submit</button></td>
                    </form>

                {% else %}
                <form action="{% url 'teacher:submitscore' %}" method="post">

                    {% csrf_token %}
            
                        <input type="hidden" name="term_id" value="{{term_id}}">
                        <input type="hidden" name="class_id" value="{{class_id}}">
                        <input type="hidden" name="section_id" value="{{section_id}}">
                        <input type="hidden" name="subject_id" value="{{subject_id}}">
            
                        <table class="table table-hover">
            
                        {% for stu in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{stu.student_user.full_name}}</td>
                                <td class='holder'> 
                                    <input type="number" min="-1" max="100" 
                                        class="marks_input"    
                                        name="{{stu.student_user.full_name}}" value="{{stu.marks}}"style="width: 150px; text-align: right; " 
                                    {% if stu.marks == -1 %}
                                        placeholder="Absent"
                                    {% else %} 
                                        placeholder="{{stu.marks}}"
                                    {% endif %}
                                    >
                                </td>
                                <input type="hidden" name="student_ids" value="{{stu.pk}}">
            
                                <td>
                                     {% comment %} <input type="hidden" name="student_ids" value="{{stu.student_user.pk}}"> {% endcomment %}
            
                                    <input type="checkbox" name="absent" value="{{stu.student_user.username}}"class="absent_checkbox"> Absent
                                </td>
                            </tr>
                        {%endfor%}
            
                        <tr><td colspan="3" align="center" ><button class="btn btn-primary" type="submit"> Submit</button></td>
                        </form>
            {% endif %}
            </tr>
            <tr>
                <td colspan="3" align="center"> 
                    {% comment %} <a href="{% url 'teacher:exportcsv' exam.exam_id %}"><button type="button" class="btn btn-primary" id="export_csv">Upload by csv instead</button></a> {% endcomment %}
                </td>
                </tr>
                <tr>
                <td colspan="3" align="center" id="uploadcsv"> 
                    <form method="POST" action="{% url 'teacher:uploadcsv' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file">
                        <button class="btn btn-primary">Upload csv</button>
                    </form>
                </td>
                
            </tr>
            
        </table>
        
        <hr>
{% comment %} {% else %}
<hr>
    There are no students that have appeared in this exam yet.
{% endif %} {% endcomment %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $("#uploadcsv").hide();
        });

        $("#export_csv").click(function(event){
            $("#uploadcsv").show();
        })

        $(".absent_checkbox").change(function(event){
            $(this).parent().parent().find(".holder").find(".marks_input")
                .prop("readonly", this.checked)
                    .toggleClass("greyba", this.checked);

        })
    </script>
{% endblock %}
