{% comment %} {% if students%} {% endcomment %}
{% load static %}
    <hr>
  
        <h4 class = "text-center">Term = {{term.term_name}}</h4>
        <hr>
        <div class="card">
            <div class="card-header" style="background:#435EBE;">
                <h3 class="card-title  text-white">Enter the score for the respective students.</h3>
              </div>
            <div class="card-body">



                {% if studentgrades %}
                <form action="{% url 'teacher:edit_submitscore' %}" method="post">
    
                    {% csrf_token %}
            
                        <input type="hidden" name="term_id" value="{{term_id}}">
                        <input type="hidden" name="class_id" value="{{class_id}}">
                        {% comment %} <input type="hidden" name="section_id" value="{{section_id}}"> {% endcomment %}
                        <input type="hidden" name="subject_id" value="{{subject_id}}">
            
                        <table class="table table-hover">
                             <thead>
                                    <tr >
                                    <th>#</th>
                                    <th>Image</th>


                                    <th>Student Name</th>
                                    <th>Student Id</th>



                                    <th>Entry</th>
                                    <th>Present Status</th>
                                    </tr>
                                </thead>
            
                             {% for grade in studentgrades %}
    
                            <tr>
                                <td>{{ forloop.counter }}</td>
          <td>

                    {% if grade.student.image %}

                 <a href="{{ grade.student.image.url }}">   <img src="{{ grade.student.image.url }}" alt="" style="width:35px;height:35px;" class="img-circle" /></a>

                    {% else %}
                    <img src="{% static 'image/admin.png' %}" alt="" style="width:35px;height:35px;" class="img-circle" />
                    {% endif %}

                  </td>

                                <td> {{grade.student.student_user.full_name}}</td>
                                <td> {{grade.student.stu_id}}</td>

                                <td class='holder'> 
                                    <input type="number" step = "0.1" min="-1" max="100" 
                                        class="marks_input px-2 py-1"    style="border-radius:1rem;" 
                                        name="{{grade.student.student_user.full_name}}" value="{{grade.marks}}"style="width: 150px; text-align: right; " 
                                    {% if grade.marks == -1 %}
                                        placeholder="Absent"
                                    {% else %} 
                                        placeholder="{{grade.marks}}"
                                    {% endif %}
                                    >
                                </td>
                                <input type="hidden" name="student_ids" value="{{grade.student.pk}}">
            
                                <td>
                                     {% comment %} <input type="hidden" name="student_ids" value="{{stu.student_user.pk}}"> {% endcomment %}
            
                                    <input type="checkbox" name="absent" value="{{grade.student.student_user.username}}"class="absent_checkbox"
                                    {% if grade.is_absent %}checked{% endif %}> Absent
                                </td>
                            </tr>
                {% endfor %}
    
            
                        <tr><td colspan="3" align="center" ><button class="btn btn-lg btn-primary float-right " type="submit"> Update </button></td>
                        </form>
    
                    {% else %}
                    <form action="{% url 'teacher:submitscore' %}" method="post">
    
                        {% csrf_token %}
                
                            <input type="hidden" name="term_id" value="{{term_id}}">
                            <input type="hidden" name="class_id" value="{{class_id}}">
                            {% comment %} <input type="hidden" name="section_id" value="{{section_id}}"> {% endcomment %}
                            <input type="hidden" name="subject_id" value="{{subject_id}}">
                
                            <table class="table table-hover">



                               <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Image</th>


                                    <th>Student Name</th>
                                    <th>Student Id</th>



                                    <th>Entry</th>
                                    <th>Present Status</th>
                                    </tr>
                                </thead>
                
                            {% for stu in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                                           <td>

                    {% if stu.student.image %}

                 <a href="{{ stu.student.image.url }}">   <img src="{{ stu.student.image.url }}" alt="" style="width:35px;height:35px;" class="img-circle" /></a>

                    {% else %}
                    <img src="{% static 'image/admin.png' %}" alt="" style="width:35px;height:35px;" class="img-circle" />
                    {% endif %}

                  </td>
                                    <td> {{stu.student_user.full_name}}</td>
                                    <td> {{stu.stu_id}}</td>

                                    <td class='holder'> 
                                        <input type="number" step="0.1" min="-1" max="100"
                                            class="marks_input px-2 py-1" style="border-radius:1rem;"    
                                            name="{{stu.student_user.full_name}}" value="{{stu.marks}}"style="width: 150px; text-align: right; " 
                                        {% if stu.marks == -1 %}
                                            placeholder="Absent"
                                        {% else %} 
                                            placeholder="{{stu.marks}}"
                                        {% endif %}
                                        >
                                    </td>
                                    <input type="hidden" name="student_ids" value="{{stu.pk}}">
                
                                    <td>
                                         {% comment %} <input type="hidden" name="student_ids" value="{{stu.student_user.pk}}"> {% endcomment %}
                
                                        <input type="checkbox" name="absent" value="{{stu.student_user.username}}"class="absent_checkbox"> Absent
                                    </td>
                                </tr>
                            {%endfor%}
                
                            <tr><td colspan="3" align="center" ><button class="btn btn-lg btn-primary float-right" type="submit"> Submit</button></td>
                            </form>
                {% endif %}
            </div>
        </div>
          
            </tr>
            <tr>
                <td colspan="3" align="center"> 
                    {% comment %} <a href="{% url 'teacher:exportcsv' term.pk %}"><button type="button" class="btn btn-primary" id="export_csv">Upload by csv instead</button></a> {% endcomment %}
                </td>
                </tr>
                <tr>
                <td colspan="3" align="center" id="uploadcsv"> 
                    <form method="POST" action="{% url 'teacher:uploadcsv' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file">
                        <button class="btn btn-primary">Upload csv</button>
                    </form>
                </td>
                
            </tr>
            
        </table>
        
        <hr>
{% comment %} {% else %}
<hr>
    There are no students that have appeared in this exam yet.
{% endif %} {% endcomment %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $("#uploadcsv").hide();
        });

        $("#export_csv").click(function(event){
            $("#uploadcsv").show();
        })

        $(".absent_checkbox").change(function(event){
            $(this).parent().parent().find(".holder").find(".marks_input")
                .prop("readonly", this.checked)
                    .toggleClass("greyba", this.checked);

        })
    </script>
{% endblock %}
