{% if students%}
    <hr>
    Please enter the score for the respective students.<br>
        <hr>
        <h4>Exam = {{exam.exam_title}}</h4>
        <hr>
        <form action="{% url 'teacher:submitscore' %}">
            <input type="hidden" name="exam_id" value="{{exam.exam_id}}">
            <table class="table table-hover">

            {% for stu in students%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {{stu.application_id.student.student_user.full_name}}</td>
                    <td class='holder'> 
                        <input type="number" min="-1" max="100" 
                            class="marks_input form-control"    
                            name="{{stu.application_id.student.student_user.full_name}}" value="{{stu.marks}}"style="width: 150px; text-align: right; " 
                        {% if stu.marks == -1 %}
                            placeholder="Absent"
                        {% else %} 
                            placeholder="{{stu.marks}}"
                        {% endif %}
                        >
                    </td>
                    <td>
                        <input type="checkbox" name="absent" value="{{stu.application_id.student.student_user.username}}"class="absent_checkbox"> Absent
                    </td>
                </tr>
            {%endfor%}

            <tr><td colspan="3" align="center" ><button class="btn btn-primary" type="submit"> Submit</button></td>
            </form>
            </tr>
            <tr>
                <td colspan="3" align="center"> 
                    <a href="{% url 'teacher:exportcsv' exam.exam_id %}"><button type="button" class="btn btn-primary" id="export_csv">Upload by csv instead</button></a>
                </td>
                </tr>
                <tr>
                <td colspan="3" align="center" id="uploadcsv"> 
                    <form method="POST" action="{% url 'teacher:uploadcsv' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file">
                        <button class="btn btn-primary">Upload csv</button>
                    </form>
                </td>
                
            </tr>
            
        </table>
        
        <hr>
{% else %}
<hr>
    There are no students that have appeared in this exam yet.
{% endif %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $("#uploadcsv").hide();
        });

        $("#export_csv").click(function(event){
            $("#uploadcsv").show();
        })

        $(".absent_checkbox").change(function(event){
            $(this).parent().parent().find(".holder").find(".marks_input")
                .prop("readonly", this.checked)
                    .toggleClass("greyba", this.checked);

        })
    </script>
{% endblock %}
