
{% if request.user.adminuser.course_category == master_course_category %}
{% for section in master_sections %}{% include "academic/sections/delete.html" %}
<tr>
  <td></td>
  <td>{{ forloop.counter }}</td>
  <a href=""></a>
  <td>{{ section.section_name }} </td>
  </a>
  <!-- <td>{{ section.capacity }}</td> -->
  <!-- <td>
            {{ section.get_section_teachers }}

          </td> -->
  <td>{{ section.semester }}</td>
  <td>
    <div class="badge badge-info">
      {{section.semester.course_category}}
    </div>
  </td>


  <td>{{ section.description }}</td>



  </td>
  <td>
    <a href="{% url 'admin_app:edit_section' section.id %}" class="btn btn-xs btn-success"><i
        class="fas fa-xs fa-edit"></i></a>

    <button class="btn btn-danger btn-xs" data-target='#deleteSection-{{ section.id }}'
      data-toggle="modal"><i class="fas fa-sm fa-trash-alt"></i></button>
  </td>

</tr>

{% endfor %}
{% endif %}