{% extends 'admin_templates/base_admin.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% block title %}
  {{title}}
{% endblock title %}
{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->
  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          
          <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white">
            <span> Assignment Log History</span>
            
            
          </div>
          {% include 'students/loghistory/includes/delete.html' %}
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <!-- {% if request.user|has_group:'Admin' or request.user.is_superuser %}
            <button class="btn btn-danger btn-xs float-right" data-target='#deleteStudentLog'
            data-toggle="modal"><i class="fas fa-sm fa-trash-alt"></i> <strong>Delete All</strong></button>
            {% endif %} -->

            <table id="syllabusTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <tr>
                    <th>Object</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>History Date/Time</th>
                    <th>History Action</th>
                    <th>History User</th>
                </tr>
                </tr>
              </thead>
              <tbody>
               
                {% include 'students/loghistory/includes/student_list.html' %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

<script>
  
  $(document).ready(function () {

    $('#syllabusTable').DataTable({

      dom: 'lBfrtip',//if i use buttons then entries goes away
      pagingType: "full_numbers",
      
     
    });
  });
</script>

{% endblock custom_js %}