<nav aria-label="Page navigation example">
    {% if search_enotes.has_other_pages %}
    <ul class="pagination justify-content-center">
      {% if search_enotes.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ search_enotes.previous_page_number }}" tabindex="-1">Prev</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Prev</span>
      </li>
      {% endif %}
      {% for i in search_enotes.paginator.page_range %}
      {% if search_enotes.number == i %}
      <li class="page-item active">
        <span class="page-link">
          {{ i }}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}

      {% endfor %}
      {% if search_enotes.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ search_enotes.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>