
{% extends 'admin_templates/base_admin.html' %}
{% load static %}
{% load auth_extras %}

{% load crispy_forms_tags %}
{% block title %}{{title}}{% endblock %}
{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->

  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          
          <div class="card-header" style="background:#435EBE;color:white;">
            <span>{{title}}</span>

   
          </div>
          <div class="card">
            
            <div class="card-header">
              <strong>
                Advance Search:
              </strong>
              <button id="plus-search" class="btn btn-primary">+</button>
        
              {% if  request.user|has_group:'Admin' or request.user.is_superuser or request.user|has_group:'Teacher'   %}   
              {% url 'academic:add_enote' as button_url %}
                {% include 'override_table/header_button.html' with button_title='enote' button_url=button_url %}


              <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">

                  <form class="float-right" id = "search-form" role="search"  method="GET" style="margin:auto;;">
                    <div class="input-group">
                   
                
                      {{ enotes_form|crispy }} 
                  
                      <div class="input-group-btn ">
                        <button type="submit" class="btn btn-primary" style="margin-top:2rem;">SEARCH <i class="fas fa-search"></i></button>
          
                      </div>
                    </div>
                  </form>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                 
               
     
    
    
                 
                {% endif %}
                </div>
              </div>
  
       
  
     
  
            </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            
            {% url 'academic:add_subject' as button_url %}
            
                 
            <table id="example" cellspacing="0" width="100%" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap  no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Title</th>
                  <th>File</th>
                  <th>Category</th>
                  <th>Subject</th>

                  <th>Class</th>
                  <th>Uploaded on</th>
                  {% if request.user.is_superuser or request.user|has_group:'Teacher' %}

                  <th>Action</th>
                  {% endif %}

            

                
                
                </tr>
              </thead>
              <tbody>
                
                {% for enote in enotes %}
            {% include "academic/enotes/delete.html" %}

                <tr>
                  <td></td>
                  <td>{{forloop.counter}}</td>

                  <td> {% if enote.file %}
                    <a href="{{ enote.file.url }}" class="text-capitalize">
                      <strong> Title : {{ enote.title }}</strong>
                    </a>
                  {% else %}
                    <a href="" class="text-capitalize">
                      <strong> {{ enote.title }}</strong>
                    </a>
                  {% endif %}</td>


                  <td>
                    {% if enote.file %}
                  
                    <a href="{{ enote.file.url }}" style="cursor: pointer;" class="btn btn-xs btn-primary">
                      <b>View Note</b>
                    </a>
                  {% endif %}

                  </td>

                 
                  <td>
                    {{ enote.note_category }}
                  </td>
                    <td>
                      {{ enote.subject }}
                    </td>
                  <td>
                    {% if enote.section %}
                    <p><strong></strong>, {{ enote.section }}</p>
                  {% else %}
                    <p><strong></strong>, {{ enote.semester }}</p>
                  {% endif %}
                    </td>
                   
                      <td>{{ enote.created_at }}</td>
                        
                      {% if request.user.is_superuser or request.user|has_group:'Teacher' %}
                      <td>
                       
                        
                        <a href="{% url 'academic:edit_enote' enote.pk %}" class="btn  btn-outline-primary" style="border-radius: 2rem;">
                          <strong>Edit</strong> </a>
    
                        <button class="btn btn-outline-danger " data-target='#deleteenote-{{ enote.pk }}'
                          data-toggle="modal" style="border-radius: 2rem;"> <strong>Delete</strong> </button>
    
                      </td>
                      {% endif %}
                      
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

<script>
  
  $(document).ready(function () {

    $("#id_course_category").change(function(){
      var course_category_id = $(this).val();
      
      $.ajax({
          url:" {% url 'attendance_app:fill_semester_select' %}",
          data:{'course_category':course_category_id},
          success:function(data){
              $("#id_semester").html(data);
          }
      })
  })
  
  
  $("#id_semester").change(function(){
    var semester_id = $(this).val();
    
    
    $.ajax({
        url:" {% url 'attendance_app:fill_section_select' %}",
        data:{'semester':semester_id},
        success:function(data){
            $("#id_section").html(data);
        }
    })
  })
  
  
  $("#id_semester").change(function(){
    var semester_id = $(this).val();
    var course_category_id = $('#id_course_category').val();
    
    
    $.ajax({
        url:" {% url 'attendance_app:fill_subject_select' %}",
        data:{'semester':semester_id,'course_category':course_category_id},
        success:function(data){
            $("#id_subject").html(data);
        }
    })
  })
 
  });
  // Hide the search form by default
  $('#search-form').hide();
  
  // Toggle the search form visibility when clicking on the plus search button
  $('#plus-search').click(function() {
    $('#search-form').toggle();
    $(this).toggleClass('btn-success btn-danger '); // Change button color
    $(this).text(function(i, text){
      return text === "+" ? "-" : "+"; // Change button text
    });
  });
</script>


{% endblock custom_js %}