

{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Manage Student {% endblock %}

{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-12">

        <div class="card" >
          
          <div class="card-header" style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;" >
       

            <span>{{title}}</span>

            <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form>
          

          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
       
            <!-- <a href="{% url 'admin_app:student_bulk_photo_upload' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
              <i class="fas fa-xs fa-upload"></i> <strong> Bulk Photos Upload</strong></a>
              <a href="{% url 'admin_app:student_file_upload' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
                <i class="fas fa-xs fa-upload"></i> <strong>Bulk Student Upload</strong></a> -->
                <a href="{% url 'admin_app:inactive_students' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background:-webkit-linear-gradient(left, #1f12d3, #6b75e0);color:white;">
                  <i class="fas fa-xs fa-eye"></i> <strong>View Inactive Students</strong></a>

            {% url 'admin_app:add_student' as button_url %}

            {% include 'override_table/header_button.html' with button_title='student' button_url=button_url %}

            
            <form action="{% url 'student:bulk_print_id_card' %}" id="printadmitcard_form" method="POST">
              {% csrf_token %}
              <div id="printadmitcard_form_div">    
              </div>
              <input type="text" name="count" value="0" id="application_count" readonly hidden>
              
             
          
              <input type="submit" id="printadmitcard_form_submit" hidden>
          </form>
         <style>
          .table-responsive {
            display: block;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
         </style>
            <table  id="dataTable" class="table  table-striped table-bordered table-hover text-nowrap  no-footer">
              <thead>
                <tr>
                  <th></th>
                  <!-- <th hidden></th> -->
                  <th>#</th>
                  <th>Image</th>
                  <th>Student Id</th>
                  <th>Full Name</th>
                  <!-- <th>Class</th> -->
                  <th>Section</th>
                  <th>Parent Contact</th>
                  <th>Student Contact</th>
                  <th>User Name</th>
                  <th>Action</th>

                  <!-- <th>Id Card</th> -->
                </tr>
              </thead>
              <tbody>
                {% for student in students %}{% include 'students/delete.html' %}
                <tr>
                  <td></td>
                  <!-- <td id="student_id" hidden>{{student.pk}}</td> -->
                  <td>{{ forloop.counter }}</td>
                  <td>

                    {% if student.image %}

                 <a href="{{ student.image.url }}">   <img src="{{ student.image.url }}" alt="" style="width:35px;height:35px;" class="img-circle" /></a>

                    {% else %}
                    <img src="{% static 'image/default_profile.png' %}" alt="" style="width:35px;height:35px;" class="img-circle" />
                    {% endif %}

                  </td>
                    <td>{{ student.stu_id }} </td>
                   <td>
                      <a href="{% url 'admin_app:view_student' student.id %}">  {{ student.student_user.full_name }} </a>
                      </td>
                    <!-- <td>{{ student.semester }}</td> -->
                    <td>{{ student.section }}</td>
               <td>
                <a href="{% url 'admin_app:view_parent' student.guardian_id %}" style="cursor: pointer;">
                  {{ student.guardian.father_phone }}
                  <!-- {% if   student.guardian.father_phone == "('',)" %}

                  {% else %}
                  {{ student.guardian.father_phone }}

                    
                  {% endif %} -->
                </a>
                </td>
                  <td>{{ student.contact }}</td>

                  <td>{{ student.student_user.username }}</td>
                 
                  <td>

                    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" style="background-color: #7650B9;color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <strong>Action</strong>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'admin_app:view_student' student.id %}">View Student Details</a>
    <a class="dropdown-item" href="{% url 'admin_app:edit_student' student.id %}">Edit</a>
    <a class="dropdown-item" data-target='#deleteStudent-{{ student.pk }}' data-toggle="modal">Delete</a>
    <a class="dropdown-item" href="{% url 'admin_app:make_student_inactive' student.id %}">Make Inactive</a>
  </div>
</div>
                  
                  </td>
                  <!-- <td>     <a href="{% url 'admin_app:student_id_card' student.id %}" class="btn btn-xs btn-success"><i class = "fas fa-print"></i> Print</a></td> -->

               
                </tr>
               
         

                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}
<!-- <script>
  $("#id_semester").change(function(){
    var class_id = $(this).val();
    
    $.ajax({
        url:" {% url 'courses:fill_section_select'%}",
        data:{'class':class_id},
        success:function(data){
            $("#id_section").html(data);
        }
    })
})
</script> -->


{% endblock custom_js %}
