

{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Manage Student {% endblock %}

{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-12">

        <div class="card" >
          
          <div class="card-header" style="background-color: #094089;color:white;" >
            

            <span>{{title}}</span>

            <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form>
          

          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
       
            <a href="{% url 'student:student_bulk_photo_upload' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background-color: #094089;color:white;">
              <i class="fas fa-xs fa-upload"></i> <strong> Bulk Photos Upload</strong></a>
              <a href="{% url 'admin_app:student_file_upload' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background-color: #094089;color:white;">
                <i class="fas fa-xs fa-upload"></i> <strong>Bulk Student Upload</strong></a>
                <a href="{% url 'student:inactive_students' %}" class="btn btn-xs float-right ml-2 mb-4 "  style="background-color: #094089;color:white;">
                  <i class="fas fa-xs fa-eye"></i> <strong>View Inactive Students</strong></a>

            {% url 'admin_app:add_student' as button_url %}

            {% include 'override_table/header_button.html' with button_title='student' button_url=button_url %}

            
            <form action="{% url 'student:bulk_print_id_card' %}" id="printadmitcard_form" method="POST">
              {% csrf_token %}
              <div id="printadmitcard_form_div">    
              </div>
              <input type="text" name="count" value="0" id="application_count" readonly hidden>
              
             
          
              <input type="submit" id="printadmitcard_form_submit" hidden>
          </form>
          <div class="table-responsive">
            <table
               id ="student-table"
              class="table  table-sm  table-striped table-bordered  text-nowrap  no-footer"
              style="width: 100%"
              data-server-side="true"
              data-ajax="/api/v1/students/?format=datatables"
            >
              <thead>
                <tr>
                  <th data-data="select"><input id="checkBox" type="checkbox" /></th>
                  <th data-data="id">id</th>
                  <th data-data="id">#</th>
                  <th data-data="image">Image</th>
                  <th data-data="stu_id">Student Id</th>
                  <th data-data="full_name">Full Name</th>
                  <th data-data="faculty">Group</th>
                  <th data-data="semester">Class</th>
                  <th data-data="section">Section</th>
                  <th data-data="father_phone">Parent Contact</th>
                  <th data-data="contact">Contact</th>
                  <th data-data="username">Username</th>
                  <th data-data="Action">Action</th>
                </tr>
              </thead>
            </table>
          </div>
        
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<!-- /.content -->
<!-- Button trigger modal -->

{% endblock main_content %}

{% block custom_js %}


        
    <script>
      $("#id_semester").change(function(){
        var class_id = $(this).val();
        
        $.ajax({
            url:" {% url 'courses:fill_section_select'%}",
            data:{'class':class_id},
            success:function(data){
                $("#id_section").html(data);
            }
        })
    })
    
        $(document).ready(function(){
         
        /*

        For ajax datatables with django rest api

        */
        $(function () {
          table = $("#student-table").DataTable(getDataTableConfig({//call getDataTableConfig located in  base_admin.py
           
            table_id: '#student-table',
            delete_id_key: 'id',
            message_title: 'Student',
            Model: 'Student',
            app_name : 'student_management_app',
            replace_app_name: 'student_management_app',
            action_index: $("#student-table th").length - 1,
           edit_url: '{% url "admin_app:edit_student"  "pk_val" %}',
           delete_url: '{% url "admin_app:delete_student"  "pk_val" %}', 
           view_url:'{% url "admin_app:view_student"  "pk_val" %}',
           action : 'delete',
        
            additionalColumn: [{
              targets: 3,
              render: function (data, type, row, meta) {
                if (row.image) {
                  return ` <img src="${row.image}" alt="" style="width:35px;height:35px;" class="img-circle" />`;
                } else {
                  return ` <img src="{% static 'image/default_profile.png' %}" alt="" style="width:35px;height:35px;" class="img-circle" />`;
                }
      
              },
            },
            
            {
              targets: 8,
              "visible": false,
            },
            ]
          }));
          table
            .buttons()
            .container()
            .appendTo($(".col-sm-6:eq(0)", table.table().container()));
      
        
          })
      
      
        });
       
    </script>


{% endblock custom_js %}



<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="content">
          <div class="container-fluid">
        
        
        <!--populate message after ajax submit is successful-->
        <div class="row">
          <div class="col-lg-12" >
                <div class="alert alert-default-success" id="upt_success" style="display:none">
                </div>
                 <div class="alert alert-default-danger" id="upt_error" style="display:none">
        
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
        
                </div>
          </div>
        </div>
        
            <div class="row">
              <div class="col-md-3">
        
                <!-- Profile Image -->
                <div class="card  card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
        
                      {% if student.image %}
                      <img class="profile-user-img img-responsive  img-circle" src="{{ student.image.url }}">
                      {% else %}
        
                      <img src="{% static 'image/default_profile.png' %}" alt="" class="profile-user-img   img-circle" />
        
                      {% endif %}
        
                    </div>
        
                    <h5 class="profile-username text-center">{{ student.student_user.full_name }}</h5>
        
                    <p class="text-muted text-center">Student</p>
        
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>Student Id</b> <a class="float-right text-sm">{{ student.stu_id }}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Roll </b> <a class="float-right text-sm">{{ student.roll_no }}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Class</b> <a class="float-right text-sm">{{ student.semester.name }}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Section</b> <a class="float-right text-sm">{{ student.section.section_name }}</a>
                      </li>
                      <li class="list-group-item">
                        <b>Group</b> <a class="float-right text-sm">{{ student.faculty }}</a>
                      </li>
                    </ul>
        
        
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
        
                <!-- About Me Box -->
                <div class="card card-primary">
        
                  <!-- /.card-header -->
        
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2 ">
                    <ul class="nav nav-tabs nav-custom p-0">
                      <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">Profile</a></li>
                      <!-- <li class="nav-item"><a class="nav-link" href="#routine" data-toggle="tab">Routine</a></li> -->
                      <li class="nav-item"><a class="nav-link" href="#attendance" data-toggle="tab">Attendence</a></li>
                      <li class="nav-item"><a class="nav-link" href="#document" data-toggle="tab">Document</a></li>
                      <li class="nav-item"><a class="nav-link" href="#subject" data-toggle="tab">Subject</a></li>
                      
                      <!-- <li class="nav-item"><a class="nav-link " href="#mark" data-toggle="tab">Mark</a></li> -->
                      <!-- <li class="nav-item"><a class="nav-link" href="#invoice" data-toggle="tab">Invoice</a></li> -->
                      <!-- <li class="nav-item"><a class="nav-link" href="#payment" data-toggle="tab">Payment</a></li> -->
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="profile">
        
                        {% include "students/views/profile.html" %}
        
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="routine">
        
                        {% include "students/views/routine.html" %}
                      </div>
        
                      <div class="tab-pane" id="attendance">
        
                        {% include "students/views/attendance/attendance_date_filter.html" %}<br>
                        {% include "students/views/attendance/attendance_details.html" %}
        
                      </div>
        
                      <div class="tab-pane" id="mark">
        
                        {% include "students/views/mark.html" %}
        
                      </div>
        
                      <div class="tab-pane" id="invoice">
        
                        {% include "students/views/invoice.html" %}
        
                      </div>
        
                      <div class="tab-pane" id="payment">
        
                        {% include "students/views/payment.html" %}
        
                      </div>
        
                      <div class="tab-pane" id="document">
                        {% include "students/views/documents/document_list.html" %}
                      </div>
                      <div class="tab-pane" id="subject">
                        {% include "students/views/courses.html" %}
                      </div>
                     
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>