
{% load static %}
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/rowReorder.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowreorder/js/dataTables.rowReorder.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.flash.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<style>
  .dt-buttons button{
    background-color: blue;
    font-weight: 40px;
    font-size: large;
  }

  .dt-buttons button:hover{
    background-color:blue ;
  }
</style>
<script>
    $('#dataTable').DataTable({

        dom: 'lBfrtip',//if i use buttons then entries goes away
        pagingType: "full_numbers",
  
        buttons: [
          {
            'extend': 'copy',
            'text': '<i class="fas  fa-copy" aria-hidden="true"></i> Copy',
  
            className: '<div class = "btn btn-info"></div>',//button css does not work
  
          },
          {
            extend: 'excel',
            text: '<i class="fas  fa-file-excel" aria-hidden="true"></i> Excel',
          },
          {
            extend: 'csv',
            text: '<i class="fas  fa-file-csv" aria-hidden="true"></i> Csv',
          },
          {
            extend: 'pdf',
            text: '<i class="fas  fa-file-pdf" aria-hidden="true"></i> Pdf',
          },
          {
            extend: 'print',
            text: '<i class="fas  fa-print" aria-hidden="true"></i> Print',
          }
  
        ],
  
  
  
      });
</script>