
{% if request.user.adminuser.course_category == bachelor_course_category %}
{% for subject in  bachelor_subjects %}{% include 'academic/subjects/delete.html' %}
<tr>
  <td></td>
  <td>{{ forloop.counter }}</td>
  <td>{{ subject.subject_name }}</td>
  <td>{{ subject.subject_code }}</td>
  <td>{{ subject.bachelor_semester }}</td>
  <td>{{ subject.faculty }}</td>
  <td>

    {% for teacher in subject.staff_user.all  %}
    {{teacher.full_name}}
      
    {% endfor %}
    

  </td>

  <!-- <td>{{ subject.course }}</td> -->

  <td>
  <a href="{% url 'academic:edit_subject' subject.subject_code %}" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>

  
  <button  class="btn btn-danger btn-xs"  data-target='#deleteSubject-{{ subject.pk }}' data-toggle="modal"><i
    class="fas fa-sm fa-trash-alt"></i></button>
</td>
</tr>
{% endfor %}

{% endif %}