

{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Manage Student {% endblock %}

{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-12">

        <div class="card" >
          
          <div class="card-header" style="background:#435EBE;color:white;" >
            

            <span>{{title}}</span>

            <form class="float-right mb-2" role="search"  method="GET" style="">
              <div class="input-group">
             
          
                {{ form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary">SEARCH</button>
    
                </div>
              </div>
            </form>
          

          </div>

          <!-- /.card-header -->
          <div class="card-body ">
       
           
          
         
         
            <table id="example"  cellspacing="0" width="100%" class=" table table-sm  table-striped table-bordered table-hover  text-nowrap  no-footer">

              <thead>
                <tr>
                  {% comment %} <th></th> {% endcomment %}
                  <th>#</th>
                  <th>Image</th>
                  <th>Full Name</th>

                  <th>Student Id</th>
                  <th>Class</th>
                  <th>Section</th>
                  {% comment %} <th>Student Contact</th>
                  <th>Parent Contact</th>
                  <th>User Name</th> {% endcomment %}

                </tr>
              </thead>
              <tbody>
                {% for student in students %}{% include 'students/delete.html' %}
                <tr>
                  {% comment %} <td></td> {% endcomment %}
                  <td>{{ forloop.counter }}</td>
                  <td>

                    {% if student.image %}

                 <a href="{{ student.image.url }}">   <img src="{{ student.image.url }}" alt="" style="width:35px;height:35px;" class="img-circle" /></a>

                    {% else %}
                    <img src="{% static 'image/admin.png' %}" alt="" style="width:35px;height:35px;" class="img-circle" />
                    {% endif %}

                  </td>
                  <td>
                    {{ student.student_user.full_name }}
                        </td>
                    <td>{{ student.stu_id }} </td>
                 
                    <td>{{ student.semester }}</td>
                    <td>{{ student.section }}</td>
             
                  {% comment %} <td>{{ student.contact }}</td>
                  <td>{{ student.guardian.mother_phone }} , {{ student.guardian.father_phone }}</td>

                  <td>{{ student.student_user.username }}</td> {% endcomment %}
                 
              
                  
               
                </tr>
               
         

                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}


