{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Admission Applications {% endblock %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">

        {% include "includes/messages.html" %}

        <div class="row">
            <div class="col-12">
                <div class="card" >
                    <div class="card-header" style="background:#435EBE;color:white;" >
                        <span>Select Department</span>
                    </div>

                    <div class="card-body table-responsive">
                        <form method="POST">
                            {% csrf_token %}
                            <label for="dept_select">Select department: </label>
                            <select name="dept_id" id="dept_select">
                                {% for item in department %}
                                    <option value="{{item.pk}}">{{item}}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Confirm">
                        </form>
                    </div>

                    {% if templates %}
                        <div class="card-body table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Department</th>
                                        <th>Is used?</th>
                                        <th>Toggle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in templates%}
                                        <tr>
                                            <td>item.title</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}