{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Admission Applications {% endblock %}
{% block main_content %}
<script>
</script>

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-header" style="background:#435EBE;color:white;" >
                    <span>Select Form</span>
                </div>

                <div class="card-body table-responsive">
                    <table class ="table table-xs">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form %}
                                <tr>
                                    <td>{{item.department}}</td>
                                    <td>{{item.title}}</td>
                                    <td><a href="{% url 'formapi:edit_form' item.pk %}" class="btn btn-xs btn-info">Edit {{item.pk}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<
{% endblock %}