{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}


{% block title %}
  {{title}}
{% endblock title %}
  

{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="p-2 flex-grow-1 bd-highlight">
      <div class="alert alert-default-danger">
        Please, Upload <strong>Image or Pdf</strong> files Only.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">

          {% include 'override_table/header.html' with card_title=' Upload Answer' %}
         
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}


            <input type="file" id="file" class = "ml-2 form-control col-md-6" name="answer_upload">
            <button type="submit" class="btn btn-sm btn-success ml-2 mt-2 mb-2">Upload</button>
        </form>
        {% if error_status %}
        <p>{{ error_message }}</p>
        {% endif %}
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
  
var uploadField = document.getElementById("file");

uploadField.onchange = function() {
    if(this.files[0].size > 1048576){
       alert("File is too big!Please choose a file less than 1MB.");
       this.value = "";
    };
};
</script>
  
{% endblock custom_js %}