/* For inline radio button */

.form-check,
.custom-control,
.form-check-input {
    display: inline-block;
}

.form-check,
.custom-control {
    margin-left: 1.5rem;
}

.nav-sidebar .nav-link p {
    font-family: "Source Sans Pro";
    margin-top: 10px;
}

a,
p,
th,
td,
tr,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
i,
li,
ol,
ul {
    font-family: "Source Sans Pro";
}

.card,
.card-header {
    border-radius: 1rem;
}


/* For active hover */

.nav-item.nav-link.active {
    background-color: #fff;
    color: #7650B9;
}

.nav-item.nav-link.active>p {
    background-color: #fff;
    color: #7650B9;
}

.nav-item.nav-link.active>i {
    background-color: #fff;
    color: #7650B9;
}

.nav-pills .nav-link {
    color: white;
}