{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}



{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "includes/messages.html" %}

    

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <div class="card-header" style="background-color: #094089;color:white;">
            <h3 class="card-title">Add Routine</h3>
          </div>
          <!-- /.card-header -->
          
          <!-- form start -->
          {% url 'routine:manage_routine' as routine_url %}
          {% include 'admin_templates/form.html' with messages=messages form=form back_url=routine_url  button_text="Add Routine" %}

        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}

{% block javascript %}
<script>

  $("#div_id_course_category input:radio").click(function(){
    var course_category_id = $(this).val();
    
    $.ajax({
        url:" {% url 'attendance_app:fill_semester_select' %}",
        data:{'course_category':course_category_id},
        success:function(data){
            $("#id_semester").html(data);
        }
    })
})


$("#id_semester").change(function(){
  var semester_id = $(this).val();
  
  
  $.ajax({
      url:" {% url 'attendance_app:fill_section_select' %}",
      data:{'semester':semester_id},
      success:function(data){
          $("#id_section").html(data);
      }
  })
})


$("#id_semester").change(function(){
  var semester_id = $(this).val();
  var course_category_id = $('#id_course_category').val();
  
  
  $.ajax({
      url:" {% url 'attendance_app:fill_subject_select' %}",
      data:{'semester':semester_id,'course_category':course_category_id},
      success:function(data){
          $("#id_Subject").html(data);
      }
  })
})
</script>

{% endblock javascript %}