<!-- Here see the list of student who have submitted their exam with answer sheet -->

{% extends 'admin_templates/base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{title}}
{% endblock title %}
  
{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <!-- /.card-header -->

  {% include "includes/messages.html" %}
  
    <div class="row">
      <div class="col-12">


        <div class="card">
          <div class="card-header" style="background-color: #743DB8;color:white">
            <span>Manage {{title}}</span>
           
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            
            <!-- <a href="{% url 'academic:subject_log' %}" class="btn btn-xs float-right mr-2 text-white" style="background-color: #743DB8;"  >
              <span><i class="fas fa-sm fa-history"></i> <strong>Log History</strong></span>
          </a> -->
                 
            <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Student</th>
                  <th>Exam Term</th>
                  <th>Semester</th>
                  <th>Subject</th>
                  <th>Answer</th>
                  <th>Submitted At</th>
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for student_answer in student_answer_list %}
                <tr>
                  <td></td>
                  <td>{{ forloop.counter }}</td>

                  <td>{{ student_answer.student.student_user }}(<strong>{{ student_answer.student.stu_id }}</strong>)</td>
                  <td>{{ student_answer.exam }}</td>
                  <td>{{ student_answer.exam.semester }}</td>
                  <td>{{ student_answer.exam.subject_id }}</td>
                  <td>
                    
                    {% if student_answer.answer_upload %}

                    <a href="{{ student_answer.answer_upload.url }}" style="cursor: pointer;" class="btn btn-xs btn-success">
                     View Answer
                   </a>
                  
               
                 {% else %}
                 Not Uploaded
                 {% endif %}

                  </td>
                  <td>{{ student_answer.created_at }}</td>
               
                  <td>
                  <a href="" class="btn btn-xs btn-success"><i class="fas fa-xs fa-edit"></i></a>
                
                  
                  <button  class="btn btn-danger btn-xs"  data-target='#deletequestion_paper-{{ subject.subject_code }}' data-toggle="modal"><i
                    class="fas fa-sm fa-trash-alt"></i></button>
                    <a href="{% url 'exam:student-grade-add' student_answer.student.pk student_answer.pk %}" class="btn btn-xs btn-success"><strong>Check Answer</strong></a>
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

<script>
  
  $(document).ready(function () {

    $('#subjectTable').DataTable({

      dom: 'lBfrtip',//if i use buttons then entries goes away
      pagingType: "full_numbers",
      
      buttons: [
        {
          'extend': 'copy',
          'text': '<i class="fas  fa-copy" aria-hidden="true"></i> Copy',
          
          className: '<div class = "btn btn-info"></div>',//button css does not work

        },
        {
          extend: 'excel',
          text: '<i class="fas  fa-file-excel" aria-hidden="true"></i> Excel',


        },
        {
          extend: 'csv',
          text: '<i class="fas  fa-file-csv" aria-hidden="true"></i> Csv',


        },
        {
          extend: 'pdf',
          text: '<i class="fas  fa-file-pdf" aria-hidden="true"></i> Pdf',


        },
        {
          extend: 'print',
          text: '<i class="fas  fa-print" aria-hidden="true"></i> Print',


        }

      ],
    });
  });
</script>

{% endblock custom_js %}